{
  "openapi": "3.1.0",
  "info": {
    "title": "StagingPro V2 Migration API (BigCommerce)",
    "version": "2.0.0",
    "description": "REST API for the StagingPro V2 BC Migration app. Browse a connected store's catalogue, size a migration before you run it, launch bulk or selective store-to-store migrations, control runs, and follow live progress.\n\nAll endpoints are served from `https://app.vortexiq.ai/v2/api/bc-migration` and are scoped to your organisation. Authenticate with a bearer token from the Login endpoint (scripts and services) or your signed-in session (browser). See [Authentication](/vortex-apps/staging-pro/api/authentication).",
    "contact": {
      "name": "Vortex IQ Support",
      "url": "https://www.vortexiq.ai/contact-us"
    }
  },
  "servers": [
    {
      "url": "https://app.vortexiq.ai/v2/api/bc-migration",
      "description": "Vortex IQ platform (production)"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Authentication",
      "description": "Exchange your identity and your organisation's API credential for a bearer token."
    },
    {
      "name": "Migrations",
      "description": "Create migrations, list history, read run detail and per-item issues, and follow live progress."
    },
    {
      "name": "Migration Controls",
      "description": "Pause, resume, cancel, and verify-only re-runs."
    },
    {
      "name": "Counts & Forecast",
      "description": "Size a migration before launching it. Neither endpoint creates a run."
    }
  ],
  "paths": {
    "/login": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "summary": "Login",
        "description": "Exchange your identity (username, email, organisation name) and your organisation's API credential (`client_id` + `client_secret`) for a bearer token valid for 10 days. The credential is issued per organisation by Vortex IQ — contact [support](https://www.vortexiq.ai/contact-us) to have one provisioned. The organisation must have Store Migration enabled and at least 2 connected BigCommerce stores (a migration needs a source and a destination). Rate limited to 10 requests per minute.",
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "username",
                  "email",
                  "organization_name",
                  "client_id",
                  "client_secret"
                ],
                "properties": {
                  "username": {
                    "type": "string",
                    "description": "Your name as registered on your Vortex IQ account (first name, last name, or full name — case-insensitive).",
                    "example": "Jane Merchant"
                  },
                  "email": {
                    "type": "string",
                    "format": "email",
                    "description": "The email of your Vortex IQ user.",
                    "example": "jane@example.com"
                  },
                  "organization_name": {
                    "type": "string",
                    "description": "Your organisation's name exactly as registered (case-insensitive). Your user must belong to this organisation.",
                    "example": "Example Retail Ltd"
                  },
                  "client_id": {
                    "type": "string",
                    "description": "Your organisation's API client id, issued by Vortex IQ.",
                    "example": "viq_bcmig_Ab12Cd34Ef56Gh78Ij90Kl12"
                  },
                  "client_secret": {
                    "type": "string",
                    "description": "Your organisation's API client secret. Shown once at issue time; keep it server-side.",
                    "example": "<client-secret>"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Authenticated. Send `access_token` as `Authorization: Bearer <token>` on every subsequent call.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "user": {
                      "type": "object",
                      "properties": {
                        "email": {
                          "type": "string"
                        },
                        "first_name": {
                          "type": "string"
                        },
                        "last_name": {
                          "type": "string"
                        }
                      }
                    },
                    "organization": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "integer"
                        },
                        "name": {
                          "type": "string"
                        }
                      }
                    },
                    "stores": {
                      "type": "array",
                      "description": "The BigCommerce stores connected to your organisation. Use these store hashes on the migration endpoints.",
                      "items": {
                        "type": "object",
                        "properties": {
                          "integration_id": {
                            "type": "integer"
                          },
                          "store_hash": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "environment_type": {
                            "type": "string",
                            "nullable": true
                          },
                          "is_production": {
                            "type": "boolean"
                          }
                        }
                      }
                    },
                    "token_type": {
                      "type": "string",
                      "example": "Bearer"
                    },
                    "access_token": {
                      "type": "string",
                      "description": "The bearer token (JWT). Treat it as a secret."
                    },
                    "expires_in": {
                      "type": "integer",
                      "description": "Token lifetime in seconds (864000 = 10 days).",
                      "example": 864000
                    },
                    "expires_at": {
                      "type": "string",
                      "format": "date-time",
                      "description": "Absolute expiry time (ISO 8601)."
                    }
                  }
                },
                "example": {
                  "user": {
                    "email": "jane@example.com",
                    "first_name": "Jane",
                    "last_name": "Merchant"
                  },
                  "organization": {
                    "id": 42,
                    "name": "Example Retail Ltd"
                  },
                  "stores": [
                    {
                      "integration_id": 101,
                      "store_hash": "abc123xyz",
                      "name": "Production Store",
                      "environment_type": "production",
                      "is_production": true
                    },
                    {
                      "integration_id": 102,
                      "store_hash": "def456uvw",
                      "name": "Staging Store",
                      "environment_type": "staging",
                      "is_production": false
                    }
                  ],
                  "token_type": "Bearer",
                  "access_token": "eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9...",
                  "expires_in": 864000,
                  "expires_at": "2026-07-27T14:46:16+00:00"
                }
              }
            }
          },
          "401": {
            "description": "One of the provided values could not be validated. The response is deliberately generic — it does not reveal which field failed.",
            "content": {
              "application/json": {
                "example": {
                  "error": "invalid_credentials",
                  "message": "The provided username, email or organization name could not be validated."
                }
              }
            }
          },
          "403": {
            "description": "Your organisation has fewer than 2 connected BigCommerce stores.",
            "content": {
              "application/json": {
                "example": {
                  "error": "insufficient_stores",
                  "message": "At least 2 connected BigCommerce stores are required for this organization to use the migration API.",
                  "stores_found": 1
                }
              }
            }
          },
          "422": {
            "description": "A required field is missing or malformed.",
            "content": {
              "application/json": {
                "example": {
                  "message": "The given data was invalid.",
                  "errors": {
                    "client_id": [
                      "The client id field is required."
                    ]
                  }
                }
              }
            }
          },
          "429": {
            "description": "Rate limited — more than 10 login attempts in a minute."
          },
          "503": {
            "description": "API access is not configured on this environment.",
            "content": {
              "application/json": {
                "example": {
                  "error": "not_configured",
                  "message": "BC Migration API access is not configured on this environment."
                }
              }
            }
          }
        }
      }
    },
    "/migrations": {
      "post": {
        "tags": [
          "Migrations"
        ],
        "summary": "Create migration",
        "description": "Queues a store-to-store migration and returns its `requestId`.\n\nYou reference stores by **BigCommerce store hash** — never by token. Vortex IQ resolves each store's API credentials server-side from your organisation's connected StagingPro integrations, so tokens never travel through the browser or your code.\n\nPass a `selection` to migrate a subset rather than the whole store.\n\n**Guards enforced here**\n- Source and destination must be different stores.\n- `conflict_strategy: replace` (\"Make Exact Copy\") is refused when the destination is a live production store, because it deletes destination-only items.\n- Selecting `orders`, `customers`, or `gift_certificates` requires `anonymise_customer_data: true`.\n- Selecting `webdav_files` (File Storage sync) requires the **source** store's WebDAV credentials to be configured (Settings → WebDAV); otherwise the request is refused with `422 source_webdav_required`.\n- Every `theme_activation` key must appear in `selection.themes`, and a destination channel may be targeted by at most one theme activation.\n- Every `selection.page_template_globals` entry must appear in `selection.page_templates`.\n\n**True Replica** — `mode: \"true-replica\"` runs a server-configured exact-copy flow: the platform chooses the entity list itself (everything storefront-visible; no PII flows), locks the run options, and after the migration completes runs an automated verification pipeline (heal → compare → delta → report) that crawls both storefronts and produces a store-owner report. In this mode `selected_entities`, `selection`, `theme_activation`, and `conflict_strategy` must **not** be sent (`422 true_replica_fixed_configuration`), the destination store must have WebDAV credentials configured (`422 webdav_required`), and the organisation must be enabled for True Replica (`403 true_replica_not_enabled`). The run's status stays `in_progress` until the verification pipeline finishes; run detail then carries a `replica` step tracker and `reportAvailable` flag. The finished report is viewable from the StagingPro UI's run detail page.\n\n<Note>Self-healing is always on. `auto_heal` is accepted for compatibility but the platform always runs migrations with auto-heal enabled — it and the shared learning layer materially reduce failed migrations, so it is not operator-optional.</Note>",
        "operationId": "createMigration",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateMigrationRequest"
              },
              "examples": {
                "fullMigration": {
                  "summary": "Full migration — every entity, in migration order",
                  "description": "A complete store copy. Paste it, replace the token and the two store hashes, and remove any keys you don't want. Entities are listed in the order they migrate (theme → catalogue → settings → content → customers → pricing → offers → orders → image mirror). `anonymise_customer_data` is `true` because the list includes orders, customers, and gift certificates — those require it. To limit orders to certain statuses, add `order_status_{id}` keys. `content_assets` (image mirroring) only runs if the destination has WebDAV credentials configured.",
                  "value": {
                    "source_store_hash": "abc123xyz",
                    "destination_store_hash": "def456uvw",
                    "mode": "full",
                    "conflict_strategy": "skip",
                    "anonymise_customer_data": true,
                    "selected_entities": [
                      "page_templates",
                      "brands",
                      "brand_metafields",
                      "brand_template_associations",
                      "categories",
                      "category_metafields",
                      "category_template_associations",
                      "pages",
                      "page_template_associations",
                      "products",
                      "images",
                      "videos",
                      "variants",
                      "modifiers",
                      "complex_rules",
                      "reviews",
                      "custom_fields",
                      "bulk_pricing",
                      "metafields",
                      "variant_metafields",
                      "related_products",
                      "channels",
                      "locale",
                      "product_template_associations",
                      "page_widgets",
                      "store_profile",
                      "store_locale",
                      "catalog_settings",
                      "inventory_notifications",
                      "store_logo",
                      "email_statuses",
                      "channel_customer_settings",
                      "channel_order_settings",
                      "web_analytics",
                      "currencies",
                      "channel_currency_assignments",
                      "shipping_zones",
                      "shipping_methods",
                      "tax_settings",
                      "storefront_category",
                      "storefront_product",
                      "storefront_search",
                      "storefront_seo",
                      "storefront_robots",
                      "storefront_status",
                      "storefront_security",
                      "search_filters",
                      "search_contextual_filters",
                      "redirects",
                      "email_templates",
                      "abandoned_cart_templates",
                      "blog_posts",
                      "banners",
                      "scripts",
                      "inventory_locations",
                      "customer_groups",
                      "customers",
                      "customer_addresses",
                      "customer_form_fields",
                      "customer_store_credit",
                      "customer_attributes",
                      "price_lists",
                      "customer_segments",
                      "promotions",
                      "coupons",
                      "gift_certificates",
                      "orders",
                      "content_assets"
                    ]
                  }
                },
                "parentsOnly": {
                  "summary": "Parent records only (no children)",
                  "description": "Migrates just the product, category, and brand records — no variants, images, custom fields, metafields, and so on. Useful for a quick structural copy; rarely what you want for a real catalogue move.",
                  "value": {
                    "source_store_hash": "abc123xyz",
                    "destination_store_hash": "def456uvw",
                    "selected_entities": [
                      "products",
                      "categories",
                      "brands"
                    ],
                    "mode": "full",
                    "conflict_strategy": "skip"
                  }
                },
                "selectiveProducts": {
                  "summary": "Selective — Products tab",
                  "description": "What the UI's Products tab sends. A product pick brings its full detail plus the brands and categories it references (dependencies come along automatically), and existing destination items are updated. Add `locale` when the destination is multi-storefront.",
                  "value": {
                    "source_store_hash": "abc123xyz",
                    "destination_store_hash": "def456uvw",
                    "selected_entities": [
                      "products",
                      "brands",
                      "categories",
                      "variants",
                      "variant_metafields",
                      "custom_fields",
                      "bulk_pricing",
                      "images",
                      "videos",
                      "metafields",
                      "reviews",
                      "related_products",
                      "channels",
                      "modifiers",
                      "complex_rules",
                      "product_template_associations",
                      "brand_template_associations",
                      "category_template_associations"
                    ],
                    "mode": "full",
                    "conflict_strategy": "update",
                    "selection": {
                      "products": [
                        101,
                        102,
                        103
                      ]
                    },
                    "source_channel_id": 1,
                    "destination_channel_id": 1
                  }
                },
                "selectiveCategories": {
                  "summary": "Selective — Categories tab",
                  "description": "Picked categories (ancestors are auto-included so the tree stays intact) with their metafields and template associations.",
                  "value": {
                    "source_store_hash": "abc123xyz",
                    "destination_store_hash": "def456uvw",
                    "selected_entities": [
                      "categories",
                      "category_metafields",
                      "category_template_associations"
                    ],
                    "mode": "full",
                    "conflict_strategy": "update",
                    "selection": {
                      "categories": [
                        21,
                        22
                      ]
                    },
                    "source_channel_id": 1,
                    "destination_channel_id": 1
                  }
                },
                "selectivePages": {
                  "summary": "Selective — Pages tab",
                  "description": "Picked pages (parent pages auto-included) with their Page Builder widget content and template associations.",
                  "value": {
                    "source_store_hash": "abc123xyz",
                    "destination_store_hash": "def456uvw",
                    "selected_entities": [
                      "pages",
                      "page_template_associations",
                      "page_widgets"
                    ],
                    "mode": "full",
                    "conflict_strategy": "update",
                    "selection": {
                      "pages": [
                        7,
                        8
                      ]
                    },
                    "source_channel_id": 1,
                    "destination_channel_id": 1
                  }
                },
                "selectivePromotions": {
                  "summary": "Selective — Promotions tab",
                  "description": "Picked promotions. `customer_groups` rides along because promotion targeting references group ids.",
                  "value": {
                    "source_store_hash": "abc123xyz",
                    "destination_store_hash": "def456uvw",
                    "selected_entities": [
                      "promotions",
                      "customer_groups"
                    ],
                    "mode": "full",
                    "conflict_strategy": "update",
                    "selection": {
                      "promotions": [
                        31
                      ]
                    },
                    "source_channel_id": 1,
                    "destination_channel_id": 1
                  }
                },
                "selectiveThemes": {
                  "summary": "Selective — Themes tab",
                  "description": "Picked themes by uuid (the Theme entity key is `page_templates`). `theme_activation` optionally activates each migrated theme on destination channels; omit it to upload without activating. A themes-only run may omit the channel keys entirely.",
                  "value": {
                    "source_store_hash": "abc123xyz",
                    "destination_store_hash": "def456uvw",
                    "selected_entities": [
                      "page_templates"
                    ],
                    "mode": "full",
                    "conflict_strategy": "update",
                    "selection": {
                      "themes": [
                        "3f2b8c14-9d5e-4a71-b0c6-2e8f7a1d4b93"
                      ]
                    },
                    "theme_activation": {
                      "3f2b8c14-9d5e-4a71-b0c6-2e8f7a1d4b93": [
                        1
                      ]
                    }
                  }
                },
                "selectivePageTemplates": {
                  "summary": "Selective — Page Templates tab",
                  "description": "Picked template files' Page Builder content — driven by the `page_widgets` entity. `page_template_globals` marks the picks whose channel-wide global widget content also migrates (must be a subset of `page_templates`).",
                  "value": {
                    "source_store_hash": "abc123xyz",
                    "destination_store_hash": "def456uvw",
                    "selected_entities": [
                      "page_widgets"
                    ],
                    "mode": "full",
                    "conflict_strategy": "update",
                    "selection": {
                      "page_templates": [
                        "pages/home",
                        "pages/category"
                      ],
                      "page_template_globals": [
                        "pages/home"
                      ]
                    },
                    "source_channel_id": 1,
                    "destination_channel_id": 1
                  }
                },
                "singleStorefront": {
                  "summary": "One storefront to another (MSF)",
                  "value": {
                    "source_store_hash": "abc123xyz",
                    "destination_store_hash": "def456uvw",
                    "selected_entities": [
                      "products",
                      "categories"
                    ],
                    "source_channel_id": 1,
                    "destination_channel_id": 2,
                    "channel_scoped_products": true,
                    "source_storefront": "UK Storefront",
                    "destination_storefront": "UK Staging"
                  }
                },
                "dryRun": {
                  "summary": "Dry run (no writes)",
                  "value": {
                    "source_store_hash": "abc123xyz",
                    "destination_store_hash": "def456uvw",
                    "selected_entities": [
                      "products"
                    ],
                    "mode": "dry-run"
                  }
                },
                "trueReplica": {
                  "summary": "True Replica (server-configured exact copy)",
                  "description": "The platform owns the configuration in this mode — do not send `selected_entities`, `selection`, `theme_activation`, or `conflict_strategy`. Requires the organisation to be enabled for True Replica and the destination store to have WebDAV credentials configured. The 201 response reports `mode: \"full\"` with `flow: \"true_replica\"`.",
                  "value": {
                    "source_store_hash": "abc123xyz",
                    "destination_store_hash": "def456uvw",
                    "mode": "true-replica"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Migration queued.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateMigrationResponse"
                },
                "example": {
                  "requestId": "5A3C1B2E-7F4D-4E6A-9B8C-0D1E2F3A4B5C",
                  "status": "queued",
                  "mode": "full",
                  "forecast": {
                    "products": 1200,
                    "variants": 5400,
                    "brands": 40,
                    "categories": 210,
                    "memMB": 2048,
                    "cpus": 2,
                    "etaSeconds": 5400,
                    "tier": "medium",
                    "basis": "forecast",
                    "at": "2026-07-16T09:00:00.000Z"
                  }
                }
              }
            }
          },
          "400": {
            "description": "The migration service rejected the request (for example `anonymise_required`, or source and destination are the same store).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Store Migration is not enabled for your organisation, or `mode: true-replica` was requested but your organisation is not enabled for True Replica (`true_replica_not_enabled`).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": "true_replica_not_enabled",
                  "message": "True Replica is not enabled for your organization yet. Contact support to join the pilot."
                }
              }
            }
          },
          "422": {
            "description": "Validation failed, a store is not found or not authorised for your organisation (`store_not_found`), `replace` was requested against a production destination (`replace_not_allowed_on_production`), a fixed-configuration field was sent with `mode: true-replica` (`true_replica_fixed_configuration`), `webdav_files` was selected without source WebDAV credentials (`source_webdav_required`), or a True Replica destination has no WebDAV credentials (`webdav_required`).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": "replace_not_allowed_on_production",
                  "message": "'Make Exact Copy' can't be used here: the destination you selected is a live production store, and this option deletes anything that exists only on the destination. Please choose 'Add New Only' or 'Update Existing', or pick a staging (non-production) destination store."
                }
              }
            }
          },
          "502": {
            "$ref": "#/components/responses/ProxyFailed"
          }
        }
      },
      "get": {
        "tags": [
          "Migrations"
        ],
        "summary": "List migrations",
        "description": "Migration history for your organisation, newest first, with keyset pagination.\n\nPage with `size` (1–100) and the opaque `cursor` from the previous page's `page.nextCursor`; a `null` `nextCursor` means you are on the last page. A request with no parameters returns the first 100 rows, so existing clients keep working. Never construct or edit a cursor yourself — a malformed cursor is rejected with `422 invalid_cursor` rather than silently restarting from page 1.\n\nHistory is served from Vortex IQ's durable store rather than the engine's own volume, so finished runs remain readable long after their run containers are torn down. The `X-Read-Source` response header records which store served the read (`opensearch`, `mysql`, or `engine`) and is informational only — cursors are store-agnostic, so pagination continues seamlessly even if the backing store changes between pages.",
        "operationId": "listMigrations",
        "parameters": [
          {
            "name": "size",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 100
            },
            "description": "Rows per page (1–100)."
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Opaque cursor from the previous page's `page.nextCursor`. Omit for the first page."
          }
        ],
        "responses": {
          "200": {
            "description": "Migration summaries.",
            "headers": {
              "X-Read-Source": {
                "description": "Which store served this read: `opensearch`, `mysql`, or `engine`. Observability only.",
                "schema": {
                  "type": "string",
                  "enum": [
                    "opensearch",
                    "mysql",
                    "engine"
                  ]
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "migrations": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/MigrationSummary"
                      }
                    },
                    "page": {
                      "type": "object",
                      "description": "Pagination envelope.",
                      "properties": {
                        "size": {
                          "type": "integer",
                          "description": "The page size this response was built with."
                        },
                        "total": {
                          "type": "integer",
                          "description": "Total runs for your organisation."
                        },
                        "nextCursor": {
                          "type": [
                            "string",
                            "null"
                          ],
                          "description": "Pass as `?cursor=` to fetch the next page. `null` on the last page."
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "422": {
            "description": "The `cursor` parameter is malformed (`invalid_cursor`). Re-fetch the first page rather than editing cursors.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": "invalid_cursor"
                }
              }
            }
          }
        }
      }
    },
    "/migrations/{id}": {
      "get": {
        "tags": [
          "Migrations"
        ],
        "summary": "Get migration",
        "description": "Full run detail: status, per-phase progress, counters, and the forecast.\n\nA finished run is served from the durable snapshot (so it survives engine teardown); a live run is read straight from the engine for real-time state. Either way the response shape is the same.",
        "operationId": "getMigration",
        "parameters": [
          {
            "$ref": "#/components/parameters/MigrationId"
          }
        ],
        "responses": {
          "200": {
            "description": "Run detail.",
            "headers": {
              "X-Read-Source": {
                "description": "Which store served this read: `opensearch`, `mysql`, or `engine`. Observability only.",
                "schema": {
                  "type": "string",
                  "enum": [
                    "opensearch",
                    "mysql",
                    "engine"
                  ]
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MigrationDetail"
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/migrations/{id}/issues": {
      "get": {
        "tags": [
          "Migrations"
        ],
        "summary": "Get migration issues",
        "description": "The per-item issue log in four lists: items that **failed**, items intentionally **skipped** with the reason why, non-blocking **warnings** (things the engine worked around without failing the run), and items the self-healing layer **healed** — failures that were automatically resolved during or after the run, reported separately so a fixed item is never listed as failed.\n\nUse this to answer \"which products didn't make it, and why?\". The log is embedded into the durable snapshot before a run's working files are reclaimed, so it stays readable for finished runs. Entries are sanitised — entity, name, status, and reason only; never request bodies or credentials.",
        "operationId": "getMigrationIssues",
        "parameters": [
          {
            "$ref": "#/components/parameters/MigrationId"
          }
        ],
        "responses": {
          "200": {
            "description": "Failures, skipped items, and warnings.",
            "headers": {
              "X-Read-Source": {
                "description": "Which store served this read: `opensearch`, `mysql`, or `engine`. Observability only.",
                "schema": {
                  "type": "string",
                  "enum": [
                    "opensearch",
                    "mysql",
                    "engine"
                  ]
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IssuesResponse"
                },
                "example": {
                  "failures": [
                    {
                      "entity": "products",
                      "name": "Smith Journal 13",
                      "status": 422,
                      "reason": "duplicate SKU SM-13 on destination"
                    }
                  ],
                  "skipped": [
                    {
                      "entity": "pages",
                      "name": "Legacy landing",
                      "status": null,
                      "reason": "page type not supported by destination theme"
                    }
                  ],
                  "warnings": [
                    {
                      "entity": "images",
                      "name": "#101",
                      "reason": "source image returned 404 — product migrated without it"
                    }
                  ],
                  "healed": [
                    {
                      "entity": "products",
                      "name": "Autumn Throw",
                      "status": 429,
                      "reason": "destination rate limit exceeded",
                      "healedVia": "retry"
                    }
                  ]
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/migrations/{id}/stream": {
      "get": {
        "tags": [
          "Migrations"
        ],
        "summary": "Stream migration progress (SSE)",
        "description": "Server-Sent Events stream of live run state — the same feed the StagingPro UI uses for its progress bar.\n\nThe stream emits a `state` event immediately, another on every engine update, and a single `end` event when the run reaches a terminal status. A run that has already finished — or whose engine-side working files have since been reclaimed — receives `end` straight away, so the stream always closes cleanly; read finished runs from `GET /migrations/{id}` (the durable store) instead of re-opening the stream. Comment pings keep the connection alive.\n\n```js\nconst es = new EventSource('/v2/api/bc-migration/migrations/' + id + '/stream');\nes.addEventListener('state', (e) => render(JSON.parse(e.data)));\nes.addEventListener('end', () => es.close());\n```",
        "operationId": "streamMigration",
        "parameters": [
          {
            "$ref": "#/components/parameters/MigrationId"
          }
        ],
        "responses": {
          "200": {
            "description": "SSE stream (`text/event-stream`). Each `state` event carries a run-detail JSON payload.",
            "content": {
              "text/event-stream": {
                "schema": {
                  "type": "string"
                },
                "example": "event: state\ndata: {\"requestId\":\"5A3C…\",\"status\":\"in_progress\",\"progress\":{\"phase\":\"products\",\"percent\":42}}\n\nevent: end\ndata: {}\n\n"
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      }
    },
    "/migrations/{id}/pause": {
      "post": {
        "tags": [
          "Migration Controls"
        ],
        "summary": "Pause migration",
        "description": "Pauses an active run. The engine checkpoints as it works, so a paused run can be resumed later without redoing completed work.\n\n**Restart-loop protection:** a 4th pause of the same run within an hour is refused with `429 restart_loop_protection`. A quiet progress bar usually means the engine has deliberately paused writes while the destination digests — pausing again only restarts the phase walk and delays completion. Resume and cancel are never rate limited.",
        "operationId": "pauseMigration",
        "parameters": [
          {
            "$ref": "#/components/parameters/MigrationId"
          }
        ],
        "responses": {
          "200": {
            "description": "Pause requested.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ControlResponse"
                },
                "example": {
                  "ok": true,
                  "status": "paused"
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "description": "This run has already been paused 3 times in the last hour (`restart_loop_protection`). Wait before pausing again, or ask an admin to act from the admin panel.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": "restart_loop_protection",
                  "message": "This migration has been paused 3 times in the last hour. A quiet progress bar usually means the destination is digesting (the engine pauses writes on purpose) — pausing again only restarts the phase walk and delays completion. If you are sure, retry in a while or ask an admin to act from the admin panel."
                }
              }
            }
          },
          "502": {
            "$ref": "#/components/responses/ProxyFailed"
          }
        }
      }
    },
    "/migrations/{id}/resume": {
      "post": {
        "tags": [
          "Migration Controls"
        ],
        "summary": "Resume migration",
        "description": "Re-queues a paused or interrupted run. It continues from its checkpoint rather than starting over, which also makes resume the safe way to re-run against a destination that already holds data.",
        "operationId": "resumeMigration",
        "parameters": [
          {
            "$ref": "#/components/parameters/MigrationId"
          }
        ],
        "responses": {
          "200": {
            "description": "Run re-queued.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ControlResponse"
                },
                "example": {
                  "ok": true,
                  "status": "queued"
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "description": "The run's credentials were cleared after completion and its stores are no longer connected (`tokens_unavailable`). Reconnect the stores, or create a new migration.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "502": {
            "$ref": "#/components/responses/ProxyFailed"
          }
        }
      }
    },
    "/migrations/{id}/cancel": {
      "post": {
        "tags": [
          "Migration Controls"
        ],
        "summary": "Cancel migration",
        "description": "Cancels a queued or running migration. Cancellation is authoritative — the run is reported cancelled even if the engine was mid-write when it stopped.",
        "operationId": "cancelMigration",
        "parameters": [
          {
            "$ref": "#/components/parameters/MigrationId"
          }
        ],
        "responses": {
          "200": {
            "description": "Cancel requested.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ControlResponse"
                },
                "example": {
                  "ok": true,
                  "status": "cancelled"
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "502": {
            "$ref": "#/components/responses/ProxyFailed"
          }
        }
      }
    },
    "/migrations/{id}/verify": {
      "post": {
        "tags": [
          "Migration Controls"
        ],
        "summary": "Verify migration",
        "description": "Re-runs a finished migration in **verify** mode: a read-only comparison of source against destination that writes nothing. Use it to confirm a migration landed everything it should have.\n\nRequires the original run's working files to still exist.",
        "operationId": "verifyMigration",
        "parameters": [
          {
            "$ref": "#/components/parameters/MigrationId"
          }
        ],
        "responses": {
          "200": {
            "description": "Verify run queued.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "status": {
                      "type": "string"
                    },
                    "mode": {
                      "type": "string",
                      "enum": [
                        "verify"
                      ]
                    }
                  }
                },
                "example": {
                  "ok": true,
                  "status": "queued",
                  "mode": "verify"
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "description": "The run's files were cleaned up (`config_unavailable`) or its credentials are no longer available (`tokens_unavailable`).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "502": {
            "$ref": "#/components/responses/ProxyFailed"
          }
        }
      }
    },
    "/entity-counts": {
      "post": {
        "tags": [
          "Counts & Forecast"
        ],
        "summary": "Get entity counts",
        "description": "Exact totals on the **source** store for the entities you selected — the numbers behind the count badges in the StagingPro UI. Fast, parallel reads; no run is created and the destination is never touched.\n\n`destination_store_hash` is optional here, so you can get counts with only a source store chosen. Pass a `selection` to scope the counts to a selective run's real picks rather than the whole store. Orders are counted per selected `order_status_{id}` when those keys are requested.",
        "operationId": "getEntityCounts",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CountsRequest"
              },
              "example": {
                "source_store_hash": "abc123xyz",
                "selected_entities": [
                  "products",
                  "categories",
                  "brands"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Entity counts. Keys listed in `estimated` are sampled estimates rather than exact totals.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EntityCounts"
                },
                "example": {
                  "counts": {
                    "products": 1200,
                    "categories": 210,
                    "brands": 40
                  },
                  "estimated": [],
                  "at": "2026-07-16T09:00:00.000Z"
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "422": {
            "$ref": "#/components/responses/StoreNotFound"
          },
          "502": {
            "description": "Counts could not be fetched from BigCommerce (`counts_failed`), or the migration service is unreachable (`proxy_failed`).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/forecast": {
      "post": {
        "tags": [
          "Counts & Forecast"
        ],
        "summary": "Get forecast",
        "description": "Estimates how long a migration will take and how much capacity it needs, before you launch it. Uses the same forecaster as an actual kickoff, so the numbers match what a real run would be sized with. No run is created.\n\nThe forecast follows your run's real scope:\n- `selection` scopes the counts the ETA is priced from — a 10-of-10,000 product pick is not estimated as a whole-store run.\n- `conflict_strategy` prices the extra work `update` and `replace` imply (reading the destination first, reconciling matched items, and for `replace` a prune pass).\n- Orders are priced on the selected order statuses rather than the all-statuses total.\n\nCalling this with only a source store means `update`/`replace` fall back to an assume-all-matched estimate, since the destination's size isn't known yet.",
        "operationId": "getForecast",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CountsRequest"
              },
              "example": {
                "source_store_hash": "abc123xyz",
                "selected_entities": [
                  "products",
                  "categories"
                ],
                "conflict_strategy": "update"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Sizing and ETA forecast.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Forecast"
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "422": {
            "$ref": "#/components/responses/StoreNotFound"
          },
          "502": {
            "description": "Forecast could not be computed (`forecast_failed`), or the migration service is unreachable (`proxy_failed`).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "A bearer token from [Login](/vortex-apps/staging-pro/api/login), sent as `Authorization: Bearer <token>`. Valid for 10 days; scoped to the user and organisation it was issued for. Rotating or disabling the organisation's API credential immediately invalidates all outstanding tokens. Browser calls from a signed-in app.vortexiq.ai page are also accepted via session cookie — see [Authentication](/vortex-apps/staging-pro/api/authentication)."
      }
    },
    "parameters": {
      "MigrationId": {
        "name": "id",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string"
        },
        "description": "The migration request id returned by Create migration.",
        "example": "5A3C1B2E-7F4D-4E6A-9B8C-0D1E2F3A4B5C"
      }
    },
    "responses": {
      "Forbidden": {
        "description": "Store Migration is not enabled for your organisation. Requests with no valid bearer token or session return `401` instead.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            },
            "example": {
              "message": "Store Migration is not enabled for this organization."
            }
          }
        }
      },
      "NotFound": {
        "description": "No such migration in your organisation.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "StoreNotFound": {
        "description": "The store is not found or not authorised for your organisation (`store_not_found`).",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            },
            "example": {
              "error": "store_not_found",
              "message": "source or destination store not found / not authorized for this organization"
            }
          }
        }
      },
      "ProxyFailed": {
        "description": "The migration service is unreachable (`proxy_failed`).",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            },
            "example": {
              "error": "proxy_failed",
              "message": "migration service unreachable"
            }
          }
        }
      }
    },
    "schemas": {
      "Error": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string",
            "description": "Machine-readable error code."
          },
          "message": {
            "type": "string",
            "description": "Human-readable explanation."
          },
          "status": {
            "type": "integer",
            "description": "Present on `bc_error`: the status BigCommerce returned."
          },
          "errors": {
            "type": "object",
            "additionalProperties": true,
            "description": "Present on validation failures: field-level messages."
          }
        }
      },
      "Selection": {
        "type": "object",
        "description": "Selective migration picks. Parents and ancestors are included automatically, and products pull in their brands and categories.\n\nFind the ids to pass here in the StagingPro app's Selective Migration tab. A selection also scopes [entity counts](/vortex-apps/staging-pro/api/get-entity-counts) and the [forecast](/vortex-apps/staging-pro/api/get-forecast).",
        "properties": {
          "products": {
            "type": "array",
            "items": {
              "type": "integer"
            },
            "maxItems": 5000,
            "description": "Product ids."
          },
          "categories": {
            "type": "array",
            "items": {
              "type": "integer"
            },
            "maxItems": 5000,
            "description": "Category ids."
          },
          "pages": {
            "type": "array",
            "items": {
              "type": "integer"
            },
            "maxItems": 2000,
            "description": "Page ids."
          },
          "promotions": {
            "type": "array",
            "items": {
              "type": "integer"
            },
            "maxItems": 2000,
            "description": "Promotion ids."
          },
          "themes": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "uuid"
            },
            "maxItems": 20,
            "description": "Theme **UUIDs** (BigCommerce theme ids are uuids, not integers). Requires `page_templates` in `selected_entities` (that is the Theme entity) — themes migrate only when the Theme phase runs. When present, `activate_theme` is ignored in favour of `theme_activation`."
          },
          "page_templates": {
            "type": "array",
            "items": {
              "type": "string",
              "pattern": "^pages/"
            },
            "maxItems": 50,
            "description": "Page-Builder template files, all beginning `pages/` (for example `pages/home`). Template-level content only — content scoped to a specific product, category, or page is not included. Requires **`page_widgets`** in `selected_entities` (not the `page_templates` entity, which is the Theme). Without `page_widgets` these picks are ignored."
          },
          "page_template_globals": {
            "type": "array",
            "items": {
              "type": "string",
              "pattern": "^pages/"
            },
            "maxItems": 50,
            "description": "Page templates whose **global** widget content also migrates. Must be a subset of `page_templates`."
          }
        }
      },
      "ThemeActivation": {
        "type": "object",
        "additionalProperties": {
          "type": "array",
          "items": {
            "type": "integer",
            "minimum": 1
          },
          "minItems": 1
        },
        "description": "Selective themes only: which destination channels to **activate** each picked theme on, keyed by source theme uuid. Omit to upload the themes without activating them.\n\nEvery key must appear in `selection.themes`, and a destination channel may be targeted by at most one theme — a storefront channel has exactly one active theme.",
        "example": {
          "3f2b8c14-9d5e-4a71-b0c6-2e8f7a1d4b93": [
            1,
            2
          ]
        }
      },
      "CreateMigrationRequest": {
        "type": "object",
        "required": [
          "source_store_hash",
          "destination_store_hash",
          "selected_entities"
        ],
        "properties": {
          "source_store_hash": {
            "type": "string",
            "description": "BigCommerce store hash to migrate **from**. Must be connected to your organisation."
          },
          "destination_store_hash": {
            "type": "string",
            "description": "BigCommerce store hash to migrate **to**. Must differ from the source."
          },
          "selected_entities": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "minItems": 1,
            "description": "Which entity groups to migrate — for example `products`, `categories`, `brands`, `pages`, `page_templates`, `promotions`, `orders`, `customers`, `webdav_files` (File Storage sync). Child keys (e.g. `variants`, `metafields`, `page_widgets`) and settings keys are also valid and force their parent to run. **Unknown keys are silently ignored, not rejected.** See the full catalogue, dependencies, and rules above. Required except in `mode: true-replica`, where the platform owns the list and this field must be omitted."
          },
          "mode": {
            "type": "string",
            "enum": [
              "full",
              "dry-run",
              "verify",
              "counts",
              "true-replica"
            ],
            "default": "full",
            "description": "`full` migrates; `dry-run` walks the migration without writing; `verify` compares only; `counts` totals only; `true-replica` runs the server-configured exact-copy flow (see the endpoint description — `selected_entities`, `selection`, `theme_activation`, and `conflict_strategy` must be omitted)."
          },
          "anonymise_customer_data": {
            "type": "boolean",
            "default": false,
            "description": "Required `true` when `orders`, `customers`, or `gift_certificates` are selected."
          },
          "conflict_strategy": {
            "type": "string",
            "enum": [
              "skip",
              "update",
              "replace"
            ],
            "description": "How an entity that already exists on the destination is handled:\n- `skip` — Add New Only (default): leave existing items untouched.\n- `update` — Update Existing: additively update changed fields.\n- `replace` — Make Exact Copy: update, then delete destination-only items. **Refused against a production destination.**"
          },
          "activate_theme": {
            "type": "boolean",
            "description": "Bulk theme migration: activate the migrated theme on the destination rather than only uploading it. Ignored when `selection.themes` is present — use `theme_activation` instead."
          },
          "auto_heal": {
            "type": "boolean",
            "description": "Accepted for compatibility only. Self-healing is always enabled."
          },
          "source_channel_id": {
            "type": "integer",
            "minimum": 1,
            "description": "Multi-storefront: the source storefront to migrate from. Pair with `destination_channel_id`."
          },
          "destination_channel_id": {
            "type": "integer",
            "minimum": 1,
            "description": "Multi-storefront: the destination storefront to map onto."
          },
          "channel_scoped_products": {
            "type": "boolean",
            "description": "Migrate only products assigned to `source_channel_id`. When false, all products migrate and are assigned to the mapped destination channel."
          },
          "channel_map": {
            "type": "object",
            "additionalProperties": {
              "type": "integer"
            },
            "description": "Explicit source channel id → destination channel id map, for mapping several storefronts at once."
          },
          "source_storefront": {
            "type": "string",
            "description": "Source storefront name, recorded for display in History."
          },
          "destination_storefront": {
            "type": "string",
            "description": "Destination storefront name, recorded for display in History."
          },
          "selection": {
            "$ref": "#/components/schemas/Selection"
          },
          "theme_activation": {
            "$ref": "#/components/schemas/ThemeActivation"
          }
        }
      },
      "CountsRequest": {
        "type": "object",
        "required": [
          "source_store_hash",
          "selected_entities"
        ],
        "description": "Counts and forecast read the **source** store only, so `destination_store_hash` is optional.",
        "properties": {
          "source_store_hash": {
            "type": "string",
            "description": "BigCommerce store hash to read."
          },
          "destination_store_hash": {
            "type": "string",
            "description": "Optional. Supplying it lets the forecast price `update`/`replace` against the destination's real size."
          },
          "selected_entities": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "minItems": 1,
            "description": "Entity keys to count or price. Required except with `mode: true-replica`, where the platform expands its own preset and this field must be omitted."
          },
          "mode": {
            "type": "string",
            "description": "Optional. `true-replica` sizes the server-configured True Replica preset instead of a caller-supplied entity list (subject to the same organisation gate as Create migration)."
          },
          "selection": {
            "$ref": "#/components/schemas/Selection"
          },
          "conflict_strategy": {
            "type": "string",
            "enum": [
              "skip",
              "update",
              "replace"
            ],
            "description": "Forecast only: price the ETA for this strategy."
          },
          "channel_map": {
            "type": "object",
            "additionalProperties": {
              "type": "integer"
            },
            "description": "Optional channel map."
          },
          "source_channel_id": {
            "type": "integer",
            "minimum": 1,
            "description": "Optional storefront scope."
          },
          "destination_channel_id": {
            "type": "integer",
            "minimum": 1,
            "description": "Optional storefront scope."
          }
        }
      },
      "CreateMigrationResponse": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Identifies the run. Use it with every other migration endpoint."
          },
          "status": {
            "type": "string",
            "enum": [
              "queued"
            ]
          },
          "mode": {
            "type": "string",
            "enum": [
              "full",
              "dry-run",
              "verify",
              "counts"
            ],
            "description": "The engine run mode. A `true-replica` request reports `full` here, with `flow: \"true_replica\"` alongside."
          },
          "flow": {
            "type": [
              "string",
              "null"
            ],
            "enum": [
              "true_replica",
              null
            ],
            "description": "`true_replica` when the run was created with `mode: true-replica`; `null` otherwise."
          },
          "forecast": {
            "oneOf": [
              {
                "$ref": "#/components/schemas/Forecast"
              },
              {
                "type": "null"
              }
            ],
            "description": "Sizing forecast computed at kickoff, when available."
          }
        }
      },
      "StoreRef": {
        "type": "object",
        "properties": {
          "hash": {
            "type": "string"
          },
          "label": {
            "type": "string"
          }
        }
      },
      "MigrationStatus": {
        "type": "string",
        "enum": [
          "queued",
          "in_progress",
          "paused",
          "completed",
          "failed",
          "cancelled",
          "partial_completed"
        ],
        "description": "`completed`, `failed`, and `cancelled` are terminal."
      },
      "MigrationSummary": {
        "type": "object",
        "description": "One row of migration history.",
        "properties": {
          "requestId": {
            "type": "string"
          },
          "platform": {
            "type": "string"
          },
          "taskKind": {
            "type": "string",
            "enum": [
              "migration"
            ],
            "description": "Always `migration` on this API."
          },
          "source": {
            "$ref": "#/components/schemas/StoreRef"
          },
          "destination": {
            "$ref": "#/components/schemas/StoreRef"
          },
          "mode": {
            "type": "string",
            "enum": [
              "full",
              "dry-run",
              "verify",
              "counts",
              "true-replica"
            ],
            "description": "The mode the run was requested with. `true-replica` marks a True Replica run."
          },
          "runType": {
            "type": [
              "string",
              "null"
            ],
            "description": "Reserved. Always `null` for store migrations."
          },
          "status": {
            "$ref": "#/components/schemas/MigrationStatus"
          },
          "autoHeal": {
            "type": "boolean"
          },
          "selective": {
            "type": "boolean",
            "description": "True when the run used a selection — shown as Selective rather than Bulk."
          },
          "behaviour": {
            "type": [
              "string",
              "null"
            ],
            "enum": [
              "add_new_only",
              "update_existing",
              "make_exact_copy",
              null
            ],
            "description": "The run's data-treatment behaviour, recorded once the run finishes. `null` while the run is still in progress (and for runs from before this field existed)."
          },
          "sourceStorefront": {
            "type": [
              "string",
              "null"
            ]
          },
          "destStorefront": {
            "type": [
              "string",
              "null"
            ]
          },
          "selectedEntities": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "summary": {
            "type": [
              "string",
              "null"
            ],
            "description": "One-line outcome summary."
          },
          "startedAt": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "completedAt": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          },
          "forecast": {
            "oneOf": [
              {
                "$ref": "#/components/schemas/Forecast"
              },
              {
                "type": "null"
              }
            ]
          }
        }
      },
      "ComponentResult": {
        "type": "object",
        "properties": {
          "key": {
            "type": "string"
          },
          "label": {
            "type": "string"
          },
          "discovered": {
            "type": "integer"
          },
          "success": {
            "type": "integer"
          },
          "matched": {
            "type": "integer",
            "description": "Already in sync with the source — examined, no write needed."
          },
          "failed": {
            "type": "integer"
          },
          "skipped": {
            "type": "integer"
          },
          "pruned": {
            "type": "integer",
            "description": "Destination-only items deleted under `replace`."
          },
          "errors": {
            "type": [
              "integer",
              "null"
            ]
          },
          "total": {
            "type": "integer"
          },
          "widgets": {
            "type": "integer",
            "description": "Page widgets only: widget nodes landed on the destination."
          }
        }
      },
      "PhaseResult": {
        "type": "object",
        "description": "Outcome for one entity phase (products, categories, and so on).",
        "properties": {
          "key": {
            "type": "string"
          },
          "label": {
            "type": "string"
          },
          "created": {
            "type": "integer"
          },
          "updated": {
            "type": "integer"
          },
          "skipped": {
            "type": "integer"
          },
          "matched": {
            "type": "integer"
          },
          "failed": {
            "type": "integer"
          },
          "pruned": {
            "type": "integer"
          },
          "total": {
            "type": "integer"
          },
          "components": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ComponentResult"
            }
          }
        }
      },
      "MigrationDetail": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string"
          },
          "platform": {
            "type": "string",
            "enum": [
              "BC"
            ]
          },
          "source": {
            "$ref": "#/components/schemas/StoreRef"
          },
          "destination": {
            "$ref": "#/components/schemas/StoreRef"
          },
          "status": {
            "$ref": "#/components/schemas/MigrationStatus"
          },
          "autoHeal": {
            "type": "boolean"
          },
          "mode": {
            "type": "string",
            "enum": [
              "full",
              "dry-run",
              "verify",
              "counts"
            ],
            "description": "The engine's run mode. A True Replica run reports `full` here — its `true-replica` marker lives on the History row's `mode`, and its pipeline state in the `replica` block below."
          },
          "conflictStrategy": {
            "type": "string",
            "enum": [
              "skip",
              "update",
              "replace"
            ]
          },
          "behaviour": {
            "type": [
              "string",
              "null"
            ],
            "enum": [
              "add_new_only",
              "update_existing",
              "make_exact_copy",
              null
            ],
            "description": "The run's data-treatment behaviour, recorded once the run finishes. `null` while in progress."
          },
          "timestamps": {
            "type": "object",
            "properties": {
              "created": {
                "type": "string",
                "format": "date-time"
              },
              "started": {
                "type": "string",
                "format": "date-time"
              },
              "updated": {
                "type": "string",
                "format": "date-time"
              }
            }
          },
          "progress": {
            "type": "object",
            "properties": {
              "phase": {
                "type": "string",
                "description": "The entity phase currently running."
              },
              "done": {
                "type": "integer"
              },
              "discovered": {
                "type": "integer"
              },
              "percent": {
                "type": "number"
              },
              "ratePerSec": {
                "type": "number"
              },
              "etaSeconds": {
                "type": "integer",
                "description": "Remaining seconds for the current phase."
              },
              "overallEtaSeconds": {
                "type": "integer",
                "description": "Remaining seconds for the whole run, calibrated against observed latency as the run proceeds."
              },
              "lastProgressAt": {
                "type": "string",
                "format": "date-time"
              }
            }
          },
          "counters": {
            "type": "object",
            "properties": {
              "done": {
                "type": "integer"
              },
              "inProgress": {
                "type": "integer"
              },
              "failed": {
                "type": "integer"
              },
              "skipped": {
                "type": "integer"
              },
              "cancelled": {
                "type": "integer"
              },
              "exceptions": {
                "type": "integer"
              },
              "warnings": {
                "type": "integer",
                "description": "Non-blocking issues; they do not fail the run."
              }
            }
          },
          "phases": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PhaseResult"
            }
          },
          "summaryLine": {
            "type": "string"
          },
          "failuresOpen": {
            "type": "integer",
            "description": "Items still needing review."
          },
          "pageTemplates": {
            "type": "object",
            "description": "Present on selective page-template runs only: what was picked and how the channel-wide global content fared.",
            "properties": {
              "picked": {
                "type": "array",
                "items": {
                  "type": "string"
                },
                "description": "The picked template files (e.g. `pages/home`)."
              },
              "globalsRequested": {
                "type": "boolean",
                "description": "Whether any pick opted in to global widget content."
              },
              "globalContextsPublished": {
                "type": "integer",
                "description": "Channel global contexts actually migrated — `0` with `globalsRequested: true` means requested but empty or failed."
              }
            }
          },
          "forecast": {
            "oneOf": [
              {
                "$ref": "#/components/schemas/Forecast"
              },
              {
                "type": "null"
              }
            ]
          },
          "selective": {
            "type": "boolean"
          },
          "selectedEntities": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "The entity keys the run was created with."
          },
          "sourceStorefront": {
            "type": [
              "string",
              "null"
            ]
          },
          "destStorefront": {
            "type": [
              "string",
              "null"
            ]
          },
          "replica": {
            "type": [
              "object",
              "null"
            ],
            "description": "True Replica runs only: the verification pipeline's step tracker. `null` or absent on other runs.",
            "properties": {
              "flow": {
                "type": "string",
                "enum": [
                  "true_replica"
                ]
              },
              "steps": {
                "type": "array",
                "description": "Pipeline steps in order — `migrate`, `heal`, `compare`, `delta`, `report` — each with its latest status.",
                "items": {
                  "type": "object",
                  "properties": {
                    "key": {
                      "type": "string",
                      "enum": [
                        "migrate",
                        "heal",
                        "compare",
                        "delta",
                        "report"
                      ]
                    },
                    "status": {
                      "type": "string",
                      "enum": [
                        "pending",
                        "in_progress",
                        "completed",
                        "completed_with_warnings",
                        "failed",
                        "skipped"
                      ]
                    },
                    "label": {
                      "type": "string"
                    },
                    "summary": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "reportAvailable": {
            "type": "boolean",
            "description": "True Replica runs only: `true` once the store-owner report is durably stored. The report itself is viewed from the StagingPro UI's run detail page."
          }
        }
      },
      "Forecast": {
        "type": "object",
        "description": "Sizing and ETA estimate.\n\nSizing and ETA are priced from different bases deliberately: the ETA follows the run's real scope (picks, strategy, order statuses), while memory is pinned to **store scale** — the engine's working set does not shrink with a small pick, so sizing on picked counts alone would under-provision the run.",
        "properties": {
          "products": {
            "type": "integer"
          },
          "variants": {
            "type": "integer"
          },
          "brands": {
            "type": "integer"
          },
          "categories": {
            "type": "integer"
          },
          "counts": {
            "type": "object",
            "additionalProperties": {
              "type": "integer"
            },
            "description": "Per-entity counts the estimate was priced from, scoped by `selection` when supplied."
          },
          "estimated": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Count keys that are sampled estimates rather than exact totals."
          },
          "memMB": {
            "type": "integer",
            "description": "Memory the run will be given (MiB). Pinned to store scale, not to the picked subset."
          },
          "cpus": {
            "type": "number",
            "description": "CPUs the run will be given."
          },
          "etaSeconds": {
            "type": "integer",
            "description": "Estimated total wall-clock for the run."
          },
          "etaBreakdown": {
            "type": "object",
            "additionalProperties": {
              "type": "number"
            },
            "description": "Per-phase seconds."
          },
          "etaAssumedRttMs": {
            "type": "number",
            "description": "The blended latency the estimate assumed."
          },
          "etaAssumedMs": {
            "type": "object",
            "description": "Per-operation-class latencies the estimate assumed, so heavy writes are not judged against a blended baseline.",
            "properties": {
              "read": {
                "type": "number"
              },
              "write": {
                "type": "number"
              },
              "heavy": {
                "type": "number"
              }
            }
          },
          "strategy": {
            "type": "string",
            "enum": [
              "skip",
              "update",
              "replace"
            ],
            "description": "The conflict strategy the ETA was priced with. Absent means create-only."
          },
          "destProducts": {
            "type": "integer",
            "description": "Destination catalogue size at kickoff. Absent or `0` when the destination wasn't known."
          },
          "tier": {
            "type": "string",
            "enum": [
              "small",
              "medium",
              "large",
              "xlarge",
              "xxlarge",
              "xxxlarge"
            ],
            "description": "Capacity band the run was placed in."
          },
          "basis": {
            "type": "string",
            "enum": [
              "forecast",
              "fallback",
              "fix"
            ],
            "description": "`fallback` means counts were unavailable and defaults were used."
          },
          "at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "EntityCounts": {
        "type": "object",
        "properties": {
          "counts": {
            "type": "object",
            "additionalProperties": {
              "type": "integer"
            },
            "description": "Entity key → total on the source store."
          },
          "estimated": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Keys whose value is a sampled estimate."
          },
          "at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "IssueItem": {
        "type": "object",
        "properties": {
          "entity": {
            "type": "string",
            "description": "Which entity type the item belongs to."
          },
          "name": {
            "type": "string",
            "description": "Item name, code, or `#<source-id>`."
          },
          "status": {
            "type": [
              "integer",
              "null"
            ],
            "description": "HTTP status of the failing call, when applicable."
          },
          "reason": {
            "type": "string",
            "description": "Why it failed, or why it was intentionally skipped."
          }
        }
      },
      "IssuesResponse": {
        "type": "object",
        "properties": {
          "failures": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/IssueItem"
            }
          },
          "skipped": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/IssueItem"
            }
          },
          "warnings": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/WarningItem"
            },
            "description": "Non-blocking issues (for example an unrecoverable 404 source image, or a dropped filter context). They do not fail the run."
          },
          "healed": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/HealedItem"
            },
            "description": "Failures the self-healing layer resolved automatically. Folded out of `failures` so a fixed item is never reported as failed."
          }
        }
      },
      "HealedItem": {
        "type": "object",
        "description": "A failure that was automatically resolved — same shape as a failure, plus how it was healed.",
        "properties": {
          "entity": {
            "type": "string",
            "description": "Which entity type the item belongs to."
          },
          "name": {
            "type": "string",
            "description": "Item name, code, or `#<source-id>`."
          },
          "status": {
            "type": [
              "integer",
              "null"
            ],
            "description": "HTTP status of the original failing call, when applicable."
          },
          "reason": {
            "type": "string",
            "description": "Why it originally failed."
          },
          "healedVia": {
            "type": "string",
            "description": "How it was fixed — for example `retry` (in-run auto-heal) or `resume` (succeeded on a later attempt)."
          }
        }
      },
      "WarningItem": {
        "type": "object",
        "properties": {
          "entity": {
            "type": "string"
          },
          "name": {
            "type": "string",
            "description": "Item name, `channel <id>`, or `#<product-id>` depending on context."
          },
          "reason": {
            "type": "string",
            "description": "What was skipped or altered, and why."
          }
        }
      },
      "ControlResponse": {
        "type": "object",
        "properties": {
          "ok": {
            "type": "boolean",
            "description": "Whether the action was accepted."
          },
          "status": {
            "type": "string",
            "description": "The resulting run status."
          }
        }
      }
    }
  }
}
