{
  "openapi": "3.1.0",
  "info": {
    "title": "StagingPro V2 Migration API (BigCommerce)",
    "version": "2.0.0",
    "description": "REST API for the StagingPro V2 BC Migration app. Browse a connected store's catalogue, size a migration before you run it, launch bulk or selective store-to-store migrations, control runs, and follow live progress.\n\nAll endpoints are served from `https://app.vortexiq.ai/v2/api/bc-migration` and are scoped to your organisation. Authenticate with a bearer token from the Login endpoint (scripts and services) or your signed-in session (browser). See [Authentication](/vortex-apps/staging-pro/api/authentication).",
    "contact": {
      "name": "Vortex IQ Support",
      "url": "https://www.vortexiq.ai/contact-us"
    }
  },
  "servers": [
    {
      "url": "https://app.vortexiq.ai/v2/api/bc-migration",
      "description": "Vortex IQ platform (production)"
    }
  ],
  "security": [{ "sessionAuth": [] }, { "bearerAuth": [] }],
  "tags": [
    { "name": "Authentication", "description": "Exchange your identity and your organisation's API credential for a bearer token." },
    { "name": "Migrations", "description": "Create migrations, list history, read run detail and per-item issues, and follow live progress." },
    { "name": "Migration Controls", "description": "Pause, resume, cancel, and verify-only re-runs." },
    { "name": "Counts & Forecast", "description": "Size a migration before launching it. Neither endpoint creates a run." },
    { "name": "Stores", "description": "Read a connected BigCommerce store: profile, entity totals, storefront channels, and browsable entity lists that power Selective Migration." }
  ],
  "paths": {
    "/login": {
      "post": {
        "tags": ["Authentication"],
        "summary": "Login",
        "description": "Exchange your identity (username, email, organisation name) and your organisation's API credential (`client_id` + `client_secret`) for a bearer token valid for 10 days. The credential is issued per organisation by Vortex IQ — contact [support](https://www.vortexiq.ai/contact-us) to have one provisioned. The organisation must have Store Migration enabled and at least 2 connected BigCommerce stores (a migration needs a source and a destination). Rate limited to 10 requests per minute.",
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["username", "email", "organization_name", "client_id", "client_secret"],
                "properties": {
                  "username": {
                    "type": "string",
                    "description": "Your name as registered on your Vortex IQ account (first name, last name, or full name — case-insensitive).",
                    "example": "Jane Merchant"
                  },
                  "email": {
                    "type": "string",
                    "format": "email",
                    "description": "The email of your Vortex IQ user.",
                    "example": "jane@example.com"
                  },
                  "organization_name": {
                    "type": "string",
                    "description": "Your organisation's name exactly as registered (case-insensitive). Your user must belong to this organisation.",
                    "example": "Example Retail Ltd"
                  },
                  "client_id": {
                    "type": "string",
                    "description": "Your organisation's API client id, issued by Vortex IQ.",
                    "example": "viq_bcmig_Ab12Cd34Ef56Gh78Ij90Kl12"
                  },
                  "client_secret": {
                    "type": "string",
                    "description": "Your organisation's API client secret. Shown once at issue time; keep it server-side.",
                    "example": "<client-secret>"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Authenticated. Send `access_token` as `Authorization: Bearer <token>` on every subsequent call.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "user": {
                      "type": "object",
                      "properties": {
                        "email": { "type": "string" },
                        "first_name": { "type": "string" },
                        "last_name": { "type": "string" }
                      }
                    },
                    "organization": {
                      "type": "object",
                      "properties": {
                        "id": { "type": "integer" },
                        "name": { "type": "string" }
                      }
                    },
                    "stores": {
                      "type": "array",
                      "description": "The BigCommerce stores connected to your organisation. Use these store hashes on the store and migration endpoints.",
                      "items": {
                        "type": "object",
                        "properties": {
                          "integration_id": { "type": "integer" },
                          "store_hash": { "type": "string" },
                          "name": { "type": "string" },
                          "environment_type": { "type": "string", "nullable": true },
                          "is_production": { "type": "boolean" }
                        }
                      }
                    },
                    "token_type": { "type": "string", "example": "Bearer" },
                    "access_token": { "type": "string", "description": "The bearer token (JWT). Treat it as a secret." },
                    "expires_in": { "type": "integer", "description": "Token lifetime in seconds (864000 = 10 days).", "example": 864000 },
                    "expires_at": { "type": "string", "format": "date-time", "description": "Absolute expiry time (ISO 8601)." }
                  }
                },
                "example": {
                  "user": { "email": "jane@example.com", "first_name": "Jane", "last_name": "Merchant" },
                  "organization": { "id": 42, "name": "Example Retail Ltd" },
                  "stores": [
                    { "integration_id": 101, "store_hash": "abc123xyz", "name": "Production Store", "environment_type": "production", "is_production": true },
                    { "integration_id": 102, "store_hash": "def456uvw", "name": "Staging Store", "environment_type": "staging", "is_production": false }
                  ],
                  "token_type": "Bearer",
                  "access_token": "eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9...",
                  "expires_in": 864000,
                  "expires_at": "2026-07-27T14:46:16+00:00"
                }
              }
            }
          },
          "401": {
            "description": "One of the provided values could not be validated. The response is deliberately generic — it does not reveal which field failed.",
            "content": {
              "application/json": {
                "example": { "error": "invalid_credentials", "message": "The provided username, email or organization name could not be validated." }
              }
            }
          },
          "403": {
            "description": "Your organisation has fewer than 2 connected BigCommerce stores.",
            "content": {
              "application/json": {
                "example": { "error": "insufficient_stores", "message": "At least 2 connected BigCommerce stores are required for this organization to use the migration API.", "stores_found": 1 }
              }
            }
          },
          "422": {
            "description": "A required field is missing or malformed.",
            "content": {
              "application/json": {
                "example": { "message": "The given data was invalid.", "errors": { "client_id": ["The client id field is required."] } }
              }
            }
          },
          "429": { "description": "Rate limited — more than 10 login attempts in a minute." },
          "503": {
            "description": "API access is not configured on this environment.",
            "content": {
              "application/json": {
                "example": { "error": "not_configured", "message": "BC Migration API access is not configured on this environment." }
              }
            }
          }
        }
      }
    },
    "/migrations": {
      "post": {
        "tags": ["Migrations"],
        "summary": "Create migration",
        "description": "Queues a store-to-store migration and returns its `requestId`.\n\nYou reference stores by **BigCommerce store hash** — never by token. Vortex IQ resolves each store's API credentials server-side from your organisation's connected StagingPro integrations, so tokens never travel through the browser or your code.\n\nPass a `selection` to migrate a subset rather than the whole store.\n\n**Guards enforced here**\n- Source and destination must be different stores.\n- `conflict_strategy: replace` (\"Make Exact Copy\") is refused when the destination is a live production store, because it deletes destination-only items.\n- Selecting `orders`, `customers`, or `gift_certificates` requires `anonymise_customer_data: true`.\n- Every `theme_activation` key must appear in `selection.themes`, and a destination channel may be targeted by at most one theme activation.\n- Every `selection.page_template_globals` entry must appear in `selection.page_templates`.\n\n<Note>Self-healing is always on. `auto_heal` is accepted for compatibility but the platform always runs migrations with auto-heal enabled — it and the shared learning layer materially reduce failed migrations, so it is not operator-optional.</Note>",
        "operationId": "createMigration",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/CreateMigrationRequest" },
              "examples": {
                "bulk": {
                  "summary": "Bulk migration (whole catalogue)",
                  "value": {
                    "source_store_hash": "abc123xyz",
                    "destination_store_hash": "def456uvw",
                    "selected_entities": ["products", "categories", "brands"],
                    "mode": "full",
                    "conflict_strategy": "skip"
                  }
                },
                "selective": {
                  "summary": "Selective migration (picked ids, themes, page templates)",
                  "value": {
                    "source_store_hash": "abc123xyz",
                    "destination_store_hash": "def456uvw",
                    "selected_entities": ["products", "themes", "page_templates"],
                    "selection": {
                      "products": [101, 102, 103],
                      "themes": ["3f2b8c14-9d5e-4a71-b0c6-2e8f7a1d4b93"],
                      "page_templates": ["pages/home", "pages/category"],
                      "page_template_globals": ["pages/home"]
                    },
                    "theme_activation": { "3f2b8c14-9d5e-4a71-b0c6-2e8f7a1d4b93": [1] },
                    "conflict_strategy": "update"
                  }
                },
                "singleStorefront": {
                  "summary": "One storefront to another (MSF)",
                  "value": {
                    "source_store_hash": "abc123xyz",
                    "destination_store_hash": "def456uvw",
                    "selected_entities": ["products", "categories"],
                    "source_channel_id": 1,
                    "destination_channel_id": 2,
                    "channel_scoped_products": true,
                    "source_storefront": "UK Storefront",
                    "destination_storefront": "UK Staging"
                  }
                },
                "dryRun": {
                  "summary": "Dry run (no writes)",
                  "value": {
                    "source_store_hash": "abc123xyz",
                    "destination_store_hash": "def456uvw",
                    "selected_entities": ["products"],
                    "mode": "dry-run"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Migration queued.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/CreateMigrationResponse" },
                "example": {
                  "requestId": "5A3C1B2E-7F4D-4E6A-9B8C-0D1E2F3A4B5C",
                  "status": "queued",
                  "mode": "full",
                  "forecast": { "products": 1200, "variants": 5400, "brands": 40, "categories": 210, "memMB": 2048, "cpus": 2, "etaSeconds": 5400, "tier": "medium", "basis": "forecast", "at": "2026-07-16T09:00:00.000Z" }
                }
              }
            }
          },
          "400": {
            "description": "The migration service rejected the request (for example `anonymise_required`, or source and destination are the same store).",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } }
          },
          "403": { "$ref": "#/components/responses/Forbidden" },
          "422": {
            "description": "Validation failed, a store is not found or not authorised for your organisation (`store_not_found`), or `replace` was requested against a production destination (`replace_not_allowed_on_production`).",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" },
                "example": {
                  "error": "replace_not_allowed_on_production",
                  "message": "'Make Exact Copy' can't be used here: the destination you selected is a live production store, and this option deletes anything that exists only on the destination. Please choose 'Add New Only' or 'Update Existing', or pick a staging (non-production) destination store."
                }
              }
            }
          },
          "502": { "$ref": "#/components/responses/ProxyFailed" }
        }
      },
      "get": {
        "tags": ["Migrations"],
        "summary": "List migrations",
        "description": "Migration history for your organisation, newest first (up to 100 runs).\n\nHistory is served from Vortex IQ's durable store rather than the engine's own volume, so finished runs remain readable long after their run containers are torn down. The `X-Read-Source` response header records which store served the read (`opensearch`, `mysql`, or `engine`) and is informational only.",
        "operationId": "listMigrations",
        "responses": {
          "200": {
            "description": "Migration summaries.",
            "headers": {
              "X-Read-Source": {
                "description": "Which store served this read: `opensearch`, `mysql`, or `engine`. Observability only.",
                "schema": { "type": "string", "enum": ["opensearch", "mysql", "engine"] }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": { "migrations": { "type": "array", "items": { "$ref": "#/components/schemas/MigrationSummary" } } }
                }
              }
            }
          },
          "403": { "$ref": "#/components/responses/Forbidden" }
        }
      }
    },
    "/migrations/{id}": {
      "get": {
        "tags": ["Migrations"],
        "summary": "Get migration",
        "description": "Full run detail: status, per-phase progress, counters, and the forecast.\n\nA finished run is served from the durable snapshot (so it survives engine teardown); a live run is read straight from the engine for real-time state. Either way the response shape is the same.",
        "operationId": "getMigration",
        "parameters": [{ "$ref": "#/components/parameters/MigrationId" }],
        "responses": {
          "200": {
            "description": "Run detail.",
            "headers": {
              "X-Read-Source": {
                "description": "Which store served this read: `opensearch`, `mysql`, or `engine`. Observability only.",
                "schema": { "type": "string", "enum": ["opensearch", "mysql", "engine"] }
              }
            },
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/MigrationDetail" } } }
          },
          "403": { "$ref": "#/components/responses/Forbidden" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      }
    },
    "/migrations/{id}/issues": {
      "get": {
        "tags": ["Migrations"],
        "summary": "Get migration issues",
        "description": "The per-item issue log: items that failed, and items intentionally skipped with the reason why.\n\nUse this to answer \"which products didn't make it, and why?\". The log is embedded into the durable snapshot before a run's working files are reclaimed, so it stays readable for finished runs. Entries are sanitised — entity, name, status, and reason only; never request bodies or credentials.",
        "operationId": "getMigrationIssues",
        "parameters": [{ "$ref": "#/components/parameters/MigrationId" }],
        "responses": {
          "200": {
            "description": "Failures and skipped items.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/IssuesResponse" },
                "example": {
                  "failures": [{ "entity": "products", "name": "Smith Journal 13", "status": 422, "reason": "duplicate SKU SM-13 on destination" }],
                  "skipped": [{ "entity": "pages", "name": "Legacy landing", "status": null, "reason": "page type not supported by destination theme" }]
                }
              }
            }
          },
          "403": { "$ref": "#/components/responses/Forbidden" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      }
    },
    "/migrations/{id}/stream": {
      "get": {
        "tags": ["Migrations"],
        "summary": "Stream migration progress (SSE)",
        "description": "Server-Sent Events stream of live run state — the same feed the StagingPro UI uses for its progress bar.\n\nThe stream emits a `state` event immediately, another on every engine update, and a single `end` event when the run reaches a terminal status. A run that has already finished receives `end` straight away, so the stream always closes cleanly. Comment pings keep the connection alive.\n\n```js\nconst es = new EventSource('/v2/api/bc-migration/migrations/' + id + '/stream');\nes.addEventListener('state', (e) => render(JSON.parse(e.data)));\nes.addEventListener('end', () => es.close());\n```",
        "operationId": "streamMigration",
        "parameters": [{ "$ref": "#/components/parameters/MigrationId" }],
        "responses": {
          "200": {
            "description": "SSE stream (`text/event-stream`). Each `state` event carries a run-detail JSON payload.",
            "content": {
              "text/event-stream": {
                "schema": { "type": "string" },
                "example": "event: state\ndata: {\"requestId\":\"5A3C…\",\"status\":\"in_progress\",\"progress\":{\"phase\":\"products\",\"percent\":42}}\n\nevent: end\ndata: {}\n\n"
              }
            }
          },
          "403": { "$ref": "#/components/responses/Forbidden" }
        }
      }
    },
    "/migrations/{id}/pause": {
      "post": {
        "tags": ["Migration Controls"],
        "summary": "Pause migration",
        "description": "Pauses an active run. The engine checkpoints as it works, so a paused run can be resumed later without redoing completed work.",
        "operationId": "pauseMigration",
        "parameters": [{ "$ref": "#/components/parameters/MigrationId" }],
        "responses": {
          "200": {
            "description": "Pause requested.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ControlResponse" },
                "example": { "ok": true, "status": "paused" }
              }
            }
          },
          "403": { "$ref": "#/components/responses/Forbidden" },
          "404": { "$ref": "#/components/responses/NotFound" },
          "502": { "$ref": "#/components/responses/ProxyFailed" }
        }
      }
    },
    "/migrations/{id}/resume": {
      "post": {
        "tags": ["Migration Controls"],
        "summary": "Resume migration",
        "description": "Re-queues a paused or interrupted run. It continues from its checkpoint rather than starting over, which also makes resume the safe way to re-run against a destination that already holds data.",
        "operationId": "resumeMigration",
        "parameters": [{ "$ref": "#/components/parameters/MigrationId" }],
        "responses": {
          "200": {
            "description": "Run re-queued.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ControlResponse" },
                "example": { "ok": true, "status": "queued" }
              }
            }
          },
          "403": { "$ref": "#/components/responses/Forbidden" },
          "404": { "$ref": "#/components/responses/NotFound" },
          "409": {
            "description": "The run's credentials were cleared after completion and its stores are no longer connected (`tokens_unavailable`). Reconnect the stores, or create a new migration.",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } }
          },
          "502": { "$ref": "#/components/responses/ProxyFailed" }
        }
      }
    },
    "/migrations/{id}/cancel": {
      "post": {
        "tags": ["Migration Controls"],
        "summary": "Cancel migration",
        "description": "Cancels a queued or running migration. Cancellation is authoritative — the run is reported cancelled even if the engine was mid-write when it stopped.",
        "operationId": "cancelMigration",
        "parameters": [{ "$ref": "#/components/parameters/MigrationId" }],
        "responses": {
          "200": {
            "description": "Cancel requested.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ControlResponse" },
                "example": { "ok": true, "status": "cancelled" }
              }
            }
          },
          "403": { "$ref": "#/components/responses/Forbidden" },
          "404": { "$ref": "#/components/responses/NotFound" },
          "502": { "$ref": "#/components/responses/ProxyFailed" }
        }
      }
    },
    "/migrations/{id}/verify": {
      "post": {
        "tags": ["Migration Controls"],
        "summary": "Verify migration",
        "description": "Re-runs a finished migration in **verify** mode: a read-only comparison of source against destination that writes nothing. Use it to confirm a migration landed everything it should have.\n\nRequires the original run's working files to still exist.",
        "operationId": "verifyMigration",
        "parameters": [{ "$ref": "#/components/parameters/MigrationId" }],
        "responses": {
          "200": {
            "description": "Verify run queued.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": { "type": "boolean" },
                    "status": { "type": "string" },
                    "mode": { "type": "string", "enum": ["verify"] }
                  }
                },
                "example": { "ok": true, "status": "queued", "mode": "verify" }
              }
            }
          },
          "403": { "$ref": "#/components/responses/Forbidden" },
          "404": { "$ref": "#/components/responses/NotFound" },
          "409": {
            "description": "The run's files were cleaned up (`config_unavailable`) or its credentials are no longer available (`tokens_unavailable`).",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } }
          },
          "502": { "$ref": "#/components/responses/ProxyFailed" }
        }
      }
    },
    "/entity-counts": {
      "post": {
        "tags": ["Counts & Forecast"],
        "summary": "Get entity counts",
        "description": "Exact totals on the **source** store for the entities you selected — the numbers behind the count badges in the StagingPro UI. Fast, parallel reads; no run is created and the destination is never touched.\n\n`destination_store_hash` is optional here, so you can get counts with only a source store chosen. Pass a `selection` to scope the counts to a selective run's real picks rather than the whole store. Orders are counted per selected `order_status_{id}` when those keys are requested.",
        "operationId": "getEntityCounts",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/CountsRequest" },
              "example": { "source_store_hash": "abc123xyz", "selected_entities": ["products", "categories", "brands"] }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Entity counts. Keys listed in `estimated` are sampled estimates rather than exact totals.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/EntityCounts" },
                "example": { "counts": { "products": 1200, "categories": 210, "brands": 40 }, "estimated": [], "at": "2026-07-16T09:00:00.000Z" }
              }
            }
          },
          "403": { "$ref": "#/components/responses/Forbidden" },
          "422": { "$ref": "#/components/responses/StoreNotFound" },
          "502": {
            "description": "Counts could not be fetched from BigCommerce (`counts_failed`), or the migration service is unreachable (`proxy_failed`).",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } }
          }
        }
      }
    },
    "/forecast": {
      "post": {
        "tags": ["Counts & Forecast"],
        "summary": "Get forecast",
        "description": "Estimates how long a migration will take and how much capacity it needs, before you launch it. Uses the same forecaster as an actual kickoff, so the numbers match what a real run would be sized with. No run is created.\n\nThe forecast follows your run's real scope:\n- `selection` scopes the counts the ETA is priced from — a 10-of-10,000 product pick is not estimated as a whole-store run.\n- `conflict_strategy` prices the extra work `update` and `replace` imply (reading the destination first, reconciling matched items, and for `replace` a prune pass).\n- Orders are priced on the selected order statuses rather than the all-statuses total.\n\nCalling this with only a source store means `update`/`replace` fall back to an assume-all-matched estimate, since the destination's size isn't known yet.",
        "operationId": "getForecast",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/CountsRequest" },
              "example": { "source_store_hash": "abc123xyz", "selected_entities": ["products", "categories"], "conflict_strategy": "update" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Sizing and ETA forecast.",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Forecast" } } }
          },
          "403": { "$ref": "#/components/responses/Forbidden" },
          "422": { "$ref": "#/components/responses/StoreNotFound" },
          "502": {
            "description": "Forecast could not be computed (`forecast_failed`), or the migration service is unreachable (`proxy_failed`).",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } }
          }
        }
      }
    },
    "/stores/{hash}/info": {
      "get": {
        "tags": ["Stores"],
        "summary": "Get store info",
        "description": "The BigCommerce store profile (name, domain, plan, currency, timezone, and so on) for a connected store. Credentials are resolved server-side and the store is authorised against your organisation.",
        "operationId": "getStoreInfo",
        "parameters": [{ "$ref": "#/components/parameters/StoreHash" }],
        "responses": {
          "200": {
            "description": "Store profile, as returned by BigCommerce.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": { "data": { "type": "object", "additionalProperties": true, "description": "The BigCommerce store object." } }
                },
                "example": { "data": { "id": "abc123xyz", "name": "Acme Store", "domain": "acme.mybigcommerce.com", "currency": "GBP", "plan_name": "Enterprise" } }
              }
            }
          },
          "403": { "$ref": "#/components/responses/Forbidden" },
          "422": { "$ref": "#/components/responses/StoreNotFound" },
          "502": { "$ref": "#/components/responses/BcUnreachable" }
        }
      }
    },
    "/stores/{hash}/counts": {
      "get": {
        "tags": ["Stores"],
        "summary": "Get store counts",
        "description": "Per-entity totals for a connected store — the \"Brands (30)\" style badges. One pooled sweep of cheap count reads.\n\nPartial results are normal and not an error: any total BigCommerce cannot supply comes back as `null` rather than failing the whole response.",
        "operationId": "getStoreCounts",
        "parameters": [{ "$ref": "#/components/parameters/StoreHash" }],
        "responses": {
          "200": {
            "description": "Entity totals. A `null` value means that count was unavailable.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": { "data": { "$ref": "#/components/schemas/StoreCounts" } }
                },
                "example": { "data": { "products": 1200, "variants": 5400, "brands": 30, "categories": 210, "pages": 18, "orders": 8400, "coupons": 12, "blogs": 40, "gift_certificates": null } }
              }
            }
          },
          "403": { "$ref": "#/components/responses/Forbidden" },
          "422": { "$ref": "#/components/responses/StoreNotFound" },
          "502": {
            "description": "Counts could not be fetched (`counts_failed`).",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } }
          }
        }
      }
    },
    "/stores/{hash}/channels": {
      "get": {
        "tags": ["Stores"],
        "summary": "List store channels",
        "description": "The storefront channels of a connected store — what populates the multi-storefront dropdowns.\n\nOnly storefront channels are returned. Permanent end-states (`terminated`, `deleted`, `archived`) are filtered out because they can never be a migration target; `active`, `prelaunch`, and `inactive` remain, since an inactive storefront can be reactivated.",
        "operationId": "listStoreChannels",
        "parameters": [{ "$ref": "#/components/parameters/StoreHash" }],
        "responses": {
          "200": {
            "description": "Storefront channels.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": { "data": { "type": "array", "items": { "$ref": "#/components/schemas/Channel" } } }
                },
                "example": { "data": [{ "id": 1, "name": "Default Storefront", "platform": "bigcommerce", "status": "active" }] }
              }
            }
          },
          "403": { "$ref": "#/components/responses/Forbidden" },
          "422": { "$ref": "#/components/responses/StoreNotFound" },
          "502": { "$ref": "#/components/responses/BcUnreachable" }
        }
      }
    },
    "/stores/{hash}/entities/{type}": {
      "get": {
        "tags": ["Stores"],
        "summary": "Browse store entities",
        "description": "Paginated, searchable lists of a connected store's entities. This is what powers **Selective Migration**: browse here, then pass the ids you want into `selection` on [Create migration](/vortex-apps/staging-pro/api/create-migration).\n\nAvailable types: `products`, `categories`, `pages`, `promotions`, `page_templates`, `themes`. Row shape varies by type — see the response schema.\n\n**Storefront scoping** — pass `channel_id` to list only what belongs to one storefront. Each type uses BigCommerce's native filter, so search and totals stay accurate for the scoped set. Two exceptions worth knowing:\n- **Categories** have no channel filter, so they are scoped via the channel's category tree. A channel with no tree correctly returns an empty list.\n- **Themes** are store-global. `channel_id` is ignored, search is a substring match, and paging is applied in-process (a store holds roughly 20 themes). Theme ids are **UUID strings**, unlike every other type's integer id.",
        "operationId": "browseStoreEntities",
        "parameters": [
          { "$ref": "#/components/parameters/StoreHash" },
          {
            "name": "type",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "enum": ["products", "categories", "pages", "promotions", "page_templates", "themes"] },
            "description": "Which entity list to browse."
          },
          { "name": "page", "in": "query", "schema": { "type": "integer", "minimum": 1, "default": 1 }, "description": "Page number." },
          { "name": "limit", "in": "query", "schema": { "type": "integer", "minimum": 10, "maximum": 100, "default": 25 }, "description": "Rows per page (clamped to 10-100)." },
          { "name": "search", "in": "query", "schema": { "type": "string" }, "description": "Keyword search. Matches product keywords, category/page names, promotion names, template names, or theme names depending on `type`." },
          { "name": "channel_id", "in": "query", "schema": { "type": "string" }, "description": "Scope to one storefront channel. Omit, leave empty, or pass `ALL` for every storefront. Ignored for `themes`." },
          { "name": "category_id", "in": "query", "schema": { "type": "integer" }, "description": "`products` only: list products in this category." },
          { "name": "visibility", "in": "query", "schema": { "type": "string", "enum": ["1", "0"] }, "description": "`products` and `categories` only: `1` = visible, `0` = hidden." },
          { "name": "availability", "in": "query", "schema": { "type": "string" }, "description": "`products` only: BigCommerce availability filter (for example `available`, `disabled`)." },
          { "name": "featured", "in": "query", "schema": { "type": "string", "enum": ["1", "0"] }, "description": "`products` only: `1` = featured products only." },
          { "name": "modified_since", "in": "query", "schema": { "type": "string", "format": "date" }, "description": "`products` only: only products modified on or after this date." },
          { "name": "parent_id", "in": "query", "schema": { "type": "integer" }, "description": "`categories` only: list children of this category." }
        ],
        "responses": {
          "200": {
            "description": "A page of entities.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/EntityListResponse" },
                "examples": {
                  "products": {
                    "summary": "products",
                    "value": {
                      "ok": true,
                      "rows": [{ "id": 101, "sku": "SM-13", "name": "Smith Journal 13", "price": 12.5, "qty": 40, "image": "https://cdn11.bigcommerce.com/…/thumb.jpg", "visible": true }],
                      "total": 1200, "page": 1, "total_pages": 48, "per_page": 25
                    }
                  },
                  "themes": {
                    "summary": "themes (uuid ids)",
                    "value": {
                      "ok": true,
                      "rows": [{ "id": "3f2b8c14-9d5e-4a71-b0c6-2e8f7a1d4b93", "name": "Cornerstone", "active": true, "private": false, "variations": ["Light", "Bold"], "image": "https://…/screenshot.png" }],
                      "total": 4, "page": 1, "total_pages": 1, "per_page": 25
                    }
                  }
                }
              }
            }
          },
          "403": { "$ref": "#/components/responses/Forbidden" },
          "422": {
            "description": "Store not found or not authorised (`store_not_found`), or an unsupported `type` (`unknown_type`).",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } }
          },
          "502": { "$ref": "#/components/responses/BcUnreachable" }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "sessionAuth": {
        "type": "apiKey",
        "in": "cookie",
        "name": "vortexiq_session",
        "description": "Your signed-in Vortex IQ session (browser calls). Requests are scoped to your organisation, which must have Store Migration enabled. For server-to-server calls use a bearer token instead — see [Authentication](/vortex-apps/staging-pro/api/authentication)."
      },
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "A bearer token from [Login](/vortex-apps/staging-pro/api/login). Valid for 10 days; scoped to the user and organisation it was issued for. Rotating or disabling the organisation's API credential immediately invalidates all outstanding tokens."
      }
    },
    "parameters": {
      "MigrationId": {
        "name": "id",
        "in": "path",
        "required": true,
        "schema": { "type": "string" },
        "description": "The migration request id returned by Create migration.",
        "example": "5A3C1B2E-7F4D-4E6A-9B8C-0D1E2F3A4B5C"
      },
      "StoreHash": {
        "name": "hash",
        "in": "path",
        "required": true,
        "schema": { "type": "string" },
        "description": "The BigCommerce store hash of a store connected to your organisation.",
        "example": "abc123xyz"
      }
    },
    "responses": {
      "Forbidden": {
        "description": "Store Migration is not enabled for your organisation. Requests with no valid bearer token or session return `401` instead.",
        "content": {
          "application/json": {
            "schema": { "$ref": "#/components/schemas/Error" },
            "example": { "message": "Store Migration is not enabled for this organization." }
          }
        }
      },
      "NotFound": {
        "description": "No such migration in your organisation.",
        "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } }
      },
      "StoreNotFound": {
        "description": "The store is not found or not authorised for your organisation (`store_not_found`).",
        "content": {
          "application/json": {
            "schema": { "$ref": "#/components/schemas/Error" },
            "example": { "error": "store_not_found", "message": "source or destination store not found / not authorized for this organization" }
          }
        }
      },
      "ProxyFailed": {
        "description": "The migration service is unreachable (`proxy_failed`).",
        "content": {
          "application/json": {
            "schema": { "$ref": "#/components/schemas/Error" },
            "example": { "error": "proxy_failed", "message": "migration service unreachable" }
          }
        }
      },
      "BcUnreachable": {
        "description": "BigCommerce returned an error (`bc_error`, with the upstream `status`) or was unreachable (`unreachable`).",
        "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } }
      }
    },
    "schemas": {
      "Error": {
        "type": "object",
        "properties": {
          "error": { "type": "string", "description": "Machine-readable error code." },
          "message": { "type": "string", "description": "Human-readable explanation." },
          "status": { "type": "integer", "description": "Present on `bc_error`: the status BigCommerce returned." },
          "errors": { "type": "object", "additionalProperties": true, "description": "Present on validation failures: field-level messages." }
        }
      },
      "Selection": {
        "type": "object",
        "description": "Selective migration picks. Parents and ancestors are included automatically, and products pull in their brands and categories.\n\nBrowse [store entities](/vortex-apps/staging-pro/api/browse-store-entities) to find the ids to pass here. A selection also scopes [entity counts](/vortex-apps/staging-pro/api/get-entity-counts) and the [forecast](/vortex-apps/staging-pro/api/get-forecast).",
        "properties": {
          "products": { "type": "array", "items": { "type": "integer" }, "maxItems": 5000, "description": "Product ids." },
          "categories": { "type": "array", "items": { "type": "integer" }, "maxItems": 5000, "description": "Category ids." },
          "pages": { "type": "array", "items": { "type": "integer" }, "maxItems": 2000, "description": "Page ids." },
          "promotions": { "type": "array", "items": { "type": "integer" }, "maxItems": 2000, "description": "Promotion ids." },
          "themes": {
            "type": "array",
            "items": { "type": "string", "format": "uuid" },
            "maxItems": 20,
            "description": "Theme **UUIDs** (BigCommerce theme ids are uuids, not integers). When present, `activate_theme` is ignored in favour of `theme_activation`."
          },
          "page_templates": {
            "type": "array",
            "items": { "type": "string", "pattern": "^pages/" },
            "maxItems": 50,
            "description": "Page template files, all beginning `pages/` (for example `pages/home`). Template-level Page Builder content only — content scoped to a specific product, category, or page is not included."
          },
          "page_template_globals": {
            "type": "array",
            "items": { "type": "string", "pattern": "^pages/" },
            "maxItems": 50,
            "description": "Page templates whose **global** widget content also migrates. Must be a subset of `page_templates`."
          }
        }
      },
      "ThemeActivation": {
        "type": "object",
        "additionalProperties": { "type": "array", "items": { "type": "integer", "minimum": 1 }, "minItems": 1 },
        "description": "Selective themes only: which destination channels to **activate** each picked theme on, keyed by source theme uuid. Omit to upload the themes without activating them.\n\nEvery key must appear in `selection.themes`, and a destination channel may be targeted by at most one theme — a storefront channel has exactly one active theme.",
        "example": { "3f2b8c14-9d5e-4a71-b0c6-2e8f7a1d4b93": [1, 2] }
      },
      "CreateMigrationRequest": {
        "type": "object",
        "required": ["source_store_hash", "destination_store_hash", "selected_entities"],
        "properties": {
          "source_store_hash": { "type": "string", "description": "BigCommerce store hash to migrate **from**. Must be connected to your organisation." },
          "destination_store_hash": { "type": "string", "description": "BigCommerce store hash to migrate **to**. Must differ from the source." },
          "selected_entities": {
            "type": "array",
            "items": { "type": "string" },
            "minItems": 1,
            "description": "Which entity groups to migrate, for example `products`, `categories`, `brands`, `pages`, `promotions`, `themes`, `page_templates`, `orders`, `customers`."
          },
          "mode": { "type": "string", "enum": ["full", "dry-run", "verify", "counts"], "default": "full", "description": "`full` migrates; `dry-run` walks the migration without writing; `verify` compares only; `counts` totals only." },
          "anonymise_customer_data": { "type": "boolean", "default": false, "description": "Required `true` when `orders`, `customers`, or `gift_certificates` are selected." },
          "conflict_strategy": {
            "type": "string",
            "enum": ["skip", "update", "replace"],
            "description": "How an entity that already exists on the destination is handled:\n- `skip` — Add New Only (default): leave existing items untouched.\n- `update` — Update Existing: additively update changed fields.\n- `replace` — Make Exact Copy: update, then delete destination-only items. **Refused against a production destination.**"
          },
          "activate_theme": { "type": "boolean", "description": "Bulk theme migration: activate the migrated theme on the destination rather than only uploading it. Ignored when `selection.themes` is present — use `theme_activation` instead." },
          "auto_heal": { "type": "boolean", "description": "Accepted for compatibility only. Self-healing is always enabled." },
          "source_channel_id": { "type": "integer", "minimum": 1, "description": "Multi-storefront: the source storefront to migrate from. Pair with `destination_channel_id`." },
          "destination_channel_id": { "type": "integer", "minimum": 1, "description": "Multi-storefront: the destination storefront to map onto." },
          "channel_scoped_products": { "type": "boolean", "description": "Migrate only products assigned to `source_channel_id`. When false, all products migrate and are assigned to the mapped destination channel." },
          "channel_map": { "type": "object", "additionalProperties": { "type": "integer" }, "description": "Explicit source channel id → destination channel id map, for mapping several storefronts at once." },
          "source_storefront": { "type": "string", "description": "Source storefront name, recorded for display in History." },
          "destination_storefront": { "type": "string", "description": "Destination storefront name, recorded for display in History." },
          "selection": { "$ref": "#/components/schemas/Selection" },
          "theme_activation": { "$ref": "#/components/schemas/ThemeActivation" }
        }
      },
      "CountsRequest": {
        "type": "object",
        "required": ["source_store_hash", "selected_entities"],
        "description": "Counts and forecast read the **source** store only, so `destination_store_hash` is optional.",
        "properties": {
          "source_store_hash": { "type": "string", "description": "BigCommerce store hash to read." },
          "destination_store_hash": { "type": "string", "description": "Optional. Supplying it lets the forecast price `update`/`replace` against the destination's real size." },
          "selected_entities": { "type": "array", "items": { "type": "string" }, "minItems": 1, "description": "Entity keys to count or price." },
          "selection": { "$ref": "#/components/schemas/Selection" },
          "conflict_strategy": { "type": "string", "enum": ["skip", "update", "replace"], "description": "Forecast only: price the ETA for this strategy." },
          "channel_map": { "type": "object", "additionalProperties": { "type": "integer" }, "description": "Optional channel map." },
          "source_channel_id": { "type": "integer", "minimum": 1, "description": "Optional storefront scope." },
          "destination_channel_id": { "type": "integer", "minimum": 1, "description": "Optional storefront scope." }
        }
      },
      "CreateMigrationResponse": {
        "type": "object",
        "properties": {
          "requestId": { "type": "string", "description": "Identifies the run. Use it with every other migration endpoint." },
          "status": { "type": "string", "enum": ["queued"] },
          "mode": { "type": "string", "enum": ["full", "dry-run", "verify", "counts"] },
          "forecast": { "oneOf": [{ "$ref": "#/components/schemas/Forecast" }, { "type": "null" }], "description": "Sizing forecast computed at kickoff, when available." }
        }
      },
      "StoreRef": {
        "type": "object",
        "properties": {
          "hash": { "type": "string" },
          "label": { "type": "string" }
        }
      },
      "MigrationStatus": {
        "type": "string",
        "enum": ["queued", "in_progress", "paused", "completed", "failed", "cancelled", "partial_completed"],
        "description": "`completed`, `failed`, and `cancelled` are terminal."
      },
      "MigrationSummary": {
        "type": "object",
        "description": "One row of migration history.",
        "properties": {
          "requestId": { "type": "string" },
          "platform": { "type": "string" },
          "source": { "$ref": "#/components/schemas/StoreRef" },
          "destination": { "$ref": "#/components/schemas/StoreRef" },
          "mode": { "type": "string", "enum": ["full", "dry-run", "verify", "counts"] },
          "status": { "$ref": "#/components/schemas/MigrationStatus" },
          "autoHeal": { "type": "boolean" },
          "selective": { "type": "boolean", "description": "True when the run used a selection — shown as Selective rather than Bulk." },
          "sourceStorefront": { "type": ["string", "null"] },
          "destStorefront": { "type": ["string", "null"] },
          "selectedEntities": { "type": "array", "items": { "type": "string" } },
          "summary": { "type": ["string", "null"], "description": "One-line outcome summary." },
          "startedAt": { "type": ["string", "null"], "format": "date-time" },
          "completedAt": { "type": ["string", "null"], "format": "date-time" },
          "createdAt": { "type": "string", "format": "date-time" },
          "updatedAt": { "type": "string", "format": "date-time" },
          "forecast": { "oneOf": [{ "$ref": "#/components/schemas/Forecast" }, { "type": "null" }] }
        }
      },
      "ComponentResult": {
        "type": "object",
        "properties": {
          "key": { "type": "string" },
          "label": { "type": "string" },
          "discovered": { "type": "integer" },
          "success": { "type": "integer" },
          "matched": { "type": "integer", "description": "Already in sync with the source — examined, no write needed." },
          "failed": { "type": "integer" },
          "skipped": { "type": "integer" },
          "pruned": { "type": "integer", "description": "Destination-only items deleted under `replace`." },
          "errors": { "type": ["integer", "null"] },
          "total": { "type": "integer" },
          "widgets": { "type": "integer", "description": "Page widgets only: widget nodes landed on the destination." }
        }
      },
      "PhaseResult": {
        "type": "object",
        "description": "Outcome for one entity phase (products, categories, and so on).",
        "properties": {
          "key": { "type": "string" },
          "label": { "type": "string" },
          "created": { "type": "integer" },
          "updated": { "type": "integer" },
          "skipped": { "type": "integer" },
          "matched": { "type": "integer" },
          "failed": { "type": "integer" },
          "pruned": { "type": "integer" },
          "total": { "type": "integer" },
          "components": { "type": "array", "items": { "$ref": "#/components/schemas/ComponentResult" } }
        }
      },
      "MigrationDetail": {
        "type": "object",
        "properties": {
          "requestId": { "type": "string" },
          "platform": { "type": "string", "enum": ["BC"] },
          "source": { "$ref": "#/components/schemas/StoreRef" },
          "destination": { "$ref": "#/components/schemas/StoreRef" },
          "status": { "$ref": "#/components/schemas/MigrationStatus" },
          "autoHeal": { "type": "boolean" },
          "mode": { "type": "string", "enum": ["full", "dry-run", "verify", "counts"] },
          "conflictStrategy": { "type": "string", "enum": ["skip", "update", "replace"] },
          "timestamps": {
            "type": "object",
            "properties": {
              "created": { "type": "string", "format": "date-time" },
              "started": { "type": "string", "format": "date-time" },
              "updated": { "type": "string", "format": "date-time" }
            }
          },
          "progress": {
            "type": "object",
            "properties": {
              "phase": { "type": "string", "description": "The entity phase currently running." },
              "done": { "type": "integer" },
              "discovered": { "type": "integer" },
              "percent": { "type": "number" },
              "ratePerSec": { "type": "number" },
              "etaSeconds": { "type": "integer", "description": "Remaining seconds for the current phase." },
              "overallEtaSeconds": { "type": "integer", "description": "Remaining seconds for the whole run, calibrated against observed latency as the run proceeds." },
              "lastProgressAt": { "type": "string", "format": "date-time" }
            }
          },
          "counters": {
            "type": "object",
            "properties": {
              "done": { "type": "integer" },
              "inProgress": { "type": "integer" },
              "failed": { "type": "integer" },
              "skipped": { "type": "integer" },
              "cancelled": { "type": "integer" },
              "exceptions": { "type": "integer" },
              "warnings": { "type": "integer", "description": "Non-blocking issues; they do not fail the run." }
            }
          },
          "phases": { "type": "array", "items": { "$ref": "#/components/schemas/PhaseResult" } },
          "summaryLine": { "type": "string" },
          "failuresOpen": { "type": "integer", "description": "Items still needing review." },
          "forecast": { "oneOf": [{ "$ref": "#/components/schemas/Forecast" }, { "type": "null" }] },
          "selective": { "type": "boolean" },
          "sourceStorefront": { "type": ["string", "null"] },
          "destStorefront": { "type": ["string", "null"] }
        }
      },
      "Forecast": {
        "type": "object",
        "description": "Sizing and ETA estimate.\n\nSizing and ETA are priced from different bases deliberately: the ETA follows the run's real scope (picks, strategy, order statuses), while memory is pinned to **store scale** — the engine's working set does not shrink with a small pick, so sizing on picked counts alone would under-provision the run.",
        "properties": {
          "products": { "type": "integer" },
          "variants": { "type": "integer" },
          "brands": { "type": "integer" },
          "categories": { "type": "integer" },
          "counts": { "type": "object", "additionalProperties": { "type": "integer" }, "description": "Per-entity counts the estimate was priced from, scoped by `selection` when supplied." },
          "estimated": { "type": "array", "items": { "type": "string" }, "description": "Count keys that are sampled estimates rather than exact totals." },
          "memMB": { "type": "integer", "description": "Memory the run will be given (MiB). Pinned to store scale, not to the picked subset." },
          "cpus": { "type": "number", "description": "CPUs the run will be given." },
          "etaSeconds": { "type": "integer", "description": "Estimated total wall-clock for the run." },
          "etaBreakdown": { "type": "object", "additionalProperties": { "type": "number" }, "description": "Per-phase seconds." },
          "etaAssumedRttMs": { "type": "number", "description": "The blended latency the estimate assumed." },
          "etaAssumedMs": {
            "type": "object",
            "description": "Per-operation-class latencies the estimate assumed, so heavy writes are not judged against a blended baseline.",
            "properties": { "read": { "type": "number" }, "write": { "type": "number" }, "heavy": { "type": "number" } }
          },
          "strategy": { "type": "string", "enum": ["skip", "update", "replace"], "description": "The conflict strategy the ETA was priced with. Absent means create-only." },
          "destProducts": { "type": "integer", "description": "Destination catalogue size at kickoff. Absent or `0` when the destination wasn't known." },
          "tier": { "type": "string", "enum": ["small", "medium", "large", "xlarge", "xxlarge", "xxxlarge"], "description": "Capacity band the run was placed in." },
          "basis": { "type": "string", "enum": ["forecast", "fallback", "fix"], "description": "`fallback` means counts were unavailable and defaults were used." },
          "at": { "type": "string", "format": "date-time" }
        }
      },
      "EntityCounts": {
        "type": "object",
        "properties": {
          "counts": { "type": "object", "additionalProperties": { "type": "integer" }, "description": "Entity key → total on the source store." },
          "estimated": { "type": "array", "items": { "type": "string" }, "description": "Keys whose value is a sampled estimate." },
          "at": { "type": "string", "format": "date-time" }
        }
      },
      "IssueItem": {
        "type": "object",
        "properties": {
          "entity": { "type": "string", "description": "Which entity type the item belongs to." },
          "name": { "type": "string", "description": "Item name, code, or `#<source-id>`." },
          "status": { "type": ["integer", "null"], "description": "HTTP status of the failing call, when applicable." },
          "reason": { "type": "string", "description": "Why it failed, or why it was intentionally skipped." }
        }
      },
      "IssuesResponse": {
        "type": "object",
        "properties": {
          "failures": { "type": "array", "items": { "$ref": "#/components/schemas/IssueItem" } },
          "skipped": { "type": "array", "items": { "$ref": "#/components/schemas/IssueItem" } }
        }
      },
      "ControlResponse": {
        "type": "object",
        "properties": {
          "ok": { "type": "boolean", "description": "Whether the action was accepted." },
          "status": { "type": "string", "description": "The resulting run status." }
        }
      },
      "Channel": {
        "type": "object",
        "properties": {
          "id": { "type": "integer" },
          "name": { "type": "string" },
          "platform": { "type": "string" },
          "status": { "type": "string", "description": "`active`, `prelaunch`, or `inactive`." }
        }
      },
      "StoreCounts": {
        "type": "object",
        "description": "Per-entity totals. Any value may be `null` when BigCommerce could not supply that count.",
        "properties": {
          "products": { "type": ["integer", "null"] },
          "variants": { "type": ["integer", "null"] },
          "brands": { "type": ["integer", "null"] },
          "categories": { "type": ["integer", "null"] },
          "pages": { "type": ["integer", "null"] },
          "redirects": { "type": ["integer", "null"] },
          "promotions": { "type": ["integer", "null"] },
          "scripts": { "type": ["integer", "null"] },
          "email_templates": { "type": ["integer", "null"] },
          "template_associations": { "type": ["integer", "null"] },
          "customers": { "type": ["integer", "null"] },
          "blogs": { "type": ["integer", "null"] },
          "banners": { "type": ["integer", "null"] },
          "coupons": { "type": ["integer", "null"] },
          "customer_groups": { "type": ["integer", "null"] },
          "shipping": { "type": ["integer", "null"] },
          "orders": { "type": ["integer", "null"] },
          "gift_certificates": { "type": ["integer", "null"] }
        }
      },
      "EntityListResponse": {
        "type": "object",
        "description": "A page of entities. `rows` shape depends on `type`.",
        "properties": {
          "ok": { "type": "boolean" },
          "rows": {
            "type": "array",
            "description": "One of the row shapes below, matching the requested `type`.",
            "items": {
              "oneOf": [
                { "$ref": "#/components/schemas/ProductRow" },
                { "$ref": "#/components/schemas/CategoryRow" },
                { "$ref": "#/components/schemas/PageRow" },
                { "$ref": "#/components/schemas/PromotionRow" },
                { "$ref": "#/components/schemas/ThemeRow" }
              ]
            }
          },
          "total": { "type": "integer" },
          "page": { "type": "integer" },
          "total_pages": { "type": "integer" },
          "per_page": { "type": "integer" }
        }
      },
      "ProductRow": {
        "type": "object",
        "title": "Product",
        "properties": {
          "id": { "type": "integer" },
          "sku": { "type": "string" },
          "name": { "type": "string" },
          "price": { "type": ["number", "null"] },
          "qty": { "type": ["integer", "null"], "description": "Inventory level." },
          "image": { "type": ["string", "null"], "description": "Thumbnail URL." },
          "visible": { "type": "boolean" }
        }
      },
      "CategoryRow": {
        "type": "object",
        "title": "Category",
        "properties": {
          "id": { "type": "integer" },
          "name": { "type": "string" },
          "url": { "type": "string" },
          "parent_id": { "type": "integer" },
          "tree_id": { "type": ["integer", "null"] },
          "visible": { "type": "boolean" }
        }
      },
      "PageRow": {
        "type": "object",
        "title": "Page",
        "properties": {
          "id": { "type": "integer" },
          "name": { "type": "string" },
          "type": { "type": "string" },
          "url": { "type": "string" },
          "channel_id": { "type": ["integer", "null"] },
          "visible": { "type": "boolean" }
        }
      },
      "PromotionRow": {
        "type": "object",
        "title": "Promotion",
        "properties": {
          "id": { "type": "integer" },
          "name": { "type": "string" },
          "status": { "type": "string" },
          "start": { "type": ["string", "null"], "format": "date" },
          "end": { "type": ["string", "null"], "format": "date" }
        }
      },
      "ThemeRow": {
        "type": "object",
        "title": "Theme",
        "description": "Theme ids are UUID strings. `page_templates` rows carry `name` and `template_file`.",
        "properties": {
          "id": { "type": "string", "format": "uuid" },
          "name": { "type": "string" },
          "active": { "type": "boolean", "description": "Active on at least one channel." },
          "private": { "type": "boolean", "description": "`false` means a marketplace theme — no licence record travels with it." },
          "variations": { "type": "array", "items": { "type": "string" } },
          "image": { "type": ["string", "null"], "description": "Screenshot URL." }
        }
      }
    }
  }
}
